<section class="container-flex">
    <div class="backdrop ps-3 pe-3" style="height: 90vh">
        <h1 class="page-title" style="color: darkslategray">Contact Us</h1>
        <hr>
        <div class="row pt-4 pb-4">
            <span class="d-block col-4 " style="font-size: 60px; color: gray;">
                General Inquiry
            </span>
            <div class="col-8">
                <span class="d-block" style="color: darkslategray">
                    091 378 0858
                </span>
            </div>
        </div>
        <hr>
    </div>
</section>