@import "~@angular/material/theming";

$primary: mat-color($app-primary, 600);
$accent: mat-color($app-accent, 600);
$warn: mat-color($app-warn);

.primary-color {
    color: $primary;
}

.accent-color {
    color: $accent;
}
