@use '@angular/material' as mat;

$primary: mat.get-color-from-palette($app-primary, 300);
$primary-light: mat.get-color-from-palette($app-primary, 50);
$off-white: rgb(255, 255, 245);
$accent: mat.get-color-from-palette($app-accent, 600);
$accent-light: mat.get-color-from-palette($app-accent, 100);
$warn: mat.get-color-from-palette($app-warn);

.primary-color {
    color: $primary;
}

.primary-color-background {
    background-color: $primary;
}

.accent-color {
    color: $accent;
}

.off-white {
    color: $off-white;
}
