.search-results-desktop {
  height: 400px;
  overflow-y: scroll;
  background-color: $primary-light;
}

.carousel-thumbnail {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-thumbnail-item {
  cursor: pointer;
}

.carousel-thumbnail-img {
  width: 80px;
  height: 60px;
}

.result-card-mobile {
  background-color: white;
}

.float-controls-mobile {
  top: auto !important;
  right: 20px !important;
  bottom: 75px !important;
  left: auto !important;
  position: fixed !important;
}

.listing-search-mobile-section {
  background-color: white;
}

.mat-dialog-container, .listing-detail-dialog {
  background-color: white;
}

.listing-tag {
  background-color: $accent-light !important;
}