.search-results-desktop {
  height: 600px;
  overflow-y: scroll;
  background-color: $primary-light;
}

.carousel-thumbnail {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-thumbnail-item {
  cursor: pointer;
}

.carousel-thumbnail-img {
  width: 80px;
  height: 60px;
}

.result-card-mobile {
  background-color: white;
}

.float-controls-mobile {
  top: auto !important;
  right: 20px !important;
  bottom: 55px !important;
  left: auto !important;
  position: fixed !important;
  button {
    background-color: white !important;
  }
}

.listing-search-mobile-section {
  background-color: white;
}

.mat-dialog-container,
.listing-detail-dialog {
  background-color: white;
}

.sticky-criteria-panel {
  position: sticky !important;
  position: -webkit-sticky !important; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  background: white;
  z-index: 1;
  box-shadow: 0px 0px 1px 0px !important;
  border-radius: 15px !important;
  display: block; /* Need this on a component for sticky to work */
}

.listing-tag {
  background-color: $accent-light !important;
}

.result-preview-img-mobile {
  max-width: 100%;
  max-height: 100%;
}

.no-result-icon {
  color: #dadce0;
  font: 200px/1.25 Google Sans, Helvetica Neue, sans-serif;
  margin-bottom: 24px;
  margin-top: 24px;
}
