<section #employeeReportingDesktop class="container-flex pt-2 ms-4 me-4 d-none d-lg-block">
    <div class="ps-3 pe-3">
        <div class="row">
            <div class="col-6 report-list-view">
                <mat-tab-group mat-stretch-tabs>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>person</mat-icon>
                            My reports
                        </ng-template>
                        <ng-template matTabContent>
                            <button mat-button class="add-report-btn" color="accent" (click)="openReportUploadDesktop()">
                                <mat-icon class="pe-1">add</mat-icon>
                                <span class="ps-3">New report</span>
                            </button>
                            <mat-card *ngIf="!reports?.length" class="mb-2 d-flex justify-content-center">
                                <mat-spinner class="d-block"></mat-spinner>
                            </mat-card>
                            <mat-card class="mb-2" *ngFor="let report of reports; let i = index"
                                (click)="showSelected(report)">
                                <mat-card-content>
                                    <div class="mb-2 d-flex justify-content-center">
                                        Report date: {{report.date}} | Reporting to {{report.recipient}}
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>people</mat-icon>
                            Employees
                        </ng-template>
                        <ng-template matTabContent>
                            <mat-card *ngIf="!employeeReports?.length" class="mb-2 d-flex justify-content-center">
                                <mat-spinner class="d-block"></mat-spinner>
                            </mat-card>
                            <mat-card class="mb-2" *ngFor="let report of employeeReports; let i = index"
                                (click)="showSelected(report)">
                                <mat-card-content>
                                    <div class="mb-2 d-flex justify-content-center">
                                        Report date: {{report.date}} | Reporting to {{report.recipient}}
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <div class="col-6 report-details-view">
            </div>
        </div>
    </div>
</section>

<section #employeeReportingMobile class="container-flex pt-2 py-2 d-lg-none">
    <div class="ps-3 pe-3" style="height: 90vh">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>person</mat-icon>
                    My reports
                </ng-template>
                <ng-template matTabContent>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button mat-button class="add-report-btn" color="accent" (click)="openReportUploadMpbile()">
                                <mat-icon class="pe-1">add</mat-icon>
                                <span class="ps-3">New report</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 container-flex ps-2 pe-2">
                            <mat-card *ngIf="!reports?.length" class="mb-2 d-flex justify-content-center">
                                <mat-spinner class="d-block"></mat-spinner>
                            </mat-card>
                            <mat-card class="mb-2" *ngFor="let report of reports; let i = index"
                                (click)="showSelectedAsDialog(report)">
                                <mat-card-content>
                                    <div class="mb-2 d-flex justify-content-center">
                                        Report date: {{report.date}} | Reporting to {{report.recipient}}
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>people</mat-icon>
                    Employees
                </ng-template>
                <ng-template matTabContent>
                    <mat-card *ngIf="!employeeReports?.length" class="mb-2 d-flex justify-content-center">
                        <mat-spinner class="d-block"></mat-spinner>
                    </mat-card>
                    <mat-card class="mb-2" *ngFor="let report of employeeReports; let i = index"
                        (click)="showSelected(report)">
                        <mat-card-content>
                            <div class="mb-2 d-flex justify-content-center">
                                Report date: {{report.date}} | Reporting to {{report.recipient}}
                            </div>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>