<mat-expansion-panel *ngFor="let activity of activities; let i = index;" hideToggle
    (mouseenter)="showDeleteBtn(deleteBtn)" (mouseleave)="hideDeleteBtn(deleteBtn)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div>{{activity.date?.toDate() | date}} </div>
        </mat-panel-title>
        <mat-panel-description>
            <div>{{activity.description}}</div>
        </mat-panel-description>
        <div style="display: none" #deleteBtn>
            <button *ngIf="canDeleteActivities" mat-button (click)="$event.stopPropagation(); removeActivity(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div *ngIf="!activity.documents?.length">No documents to display</div>
        <div *ngIf="activity.documents?.length" class="row">
            <div class="col-12 col-sm-3" *ngFor="let doc of activity.documents">
                <button mat-raised-button (click)="$event.stopPropagation(); downloadFile(doc)">
                    <mat-icon color="accent">download</mat-icon> {{doc.displayName}}
                </button>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>