<section class="container d-none d-md-block listing-details-desktop">
    <mat-spinner class="pt-4" *ngIf="!listing.location">
    </mat-spinner>
    <div *ngIf="listing.location">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">
                    {{listing.location}} | {{listing.price | currency: listing.currency}} |
                    <span *ngIf="listing.purpose === 'For Rent'">{{ 'listing_details.for_rent' | translate }}</span>
                    <span *ngIf="listing.purpose === 'For Sale'">{{ 'listing_details.for_sale' | translate }}</span>
                </h1>
            </div>
        </div>
        <hr>
        <div class="row pb-4">
            <div class="col-6 listing-images">
                <ng-container *ngIf="listing.imageSources && listing.imageSources!.length">
                    <swiper #usefulSwiper [config]="{}">
                        <div class="swiper-wrapper">
                            <img *ngFor="let src of listing.imageSources" class="swiper-slide swiper-image" [src]="src">
                        </div>
                    </swiper>
                    <br>
                    <ng-image-slider [images]="images" [manageImageRatio]="true" [imagePopup]="false"
                        [imageSize]="{height: '50px', width: '90px'}" [animationSpeed]="0.1"
                        (imageClick)="cycleToSlide($event)">
                    </ng-image-slider>
                </ng-container>
                <mat-spinner *ngIf="!(listing.imageSources && listing.imageSources!.length)"></mat-spinner>
            </div>
            <div class="col-6">
                <div class="row pb-2">
                    <div class="col-6">
                        <mat-icon color="accent">apartment</mat-icon>
                        <span class="ps-1 pe-2 text-bold">{{ 'listing_details.category' | translate }}:</span>
                        <span *ngIf="listing.category === 'Apartment'">{{ 'listing_details.apartment' | translate
                            }}</span>
                        <span *ngIf="listing.category === 'Villa'">{{ 'listing_details.villa' | translate }}</span>
                        <span *ngIf="listing.category === 'Townhouse'">{{ 'listing_details.townhouse' | translate
                            }}</span>
                        <span *ngIf="listing.category === 'Commercial'">{{ 'listing_details.commercial' | translate
                            }}</span>
                    </div>
                    <div class="col-6">
                        <mat-icon color="accent">aspect_ratio</mat-icon>
                        <span class="ps-1 pe-2 text-bold">{{ 'listing_details.propertySize' | translate }}
                            (m<sup>2</sup>):</span>
                        {{listing.propertySize}}
                    </div>
                    <div class="col-6">
                        <mat-icon color="accent">bed</mat-icon>
                        <span class="ps-1 pe-2 text-bold">{{ 'listing_details.bedrooms' | translate }}:</span>
                        {{listing.bedrooms}}
                    </div>
                    <div class="col-6">
                        <mat-icon color="accent">bathtub</mat-icon>
                        <span class="ps-1 pe-2 text-bold">{{ 'listing_details.bathrooms' | translate }}:</span>
                        {{listing.bathrooms}}
                    </div>
                    <div class="col-6" *ngIf="listing.view">
                        <mat-icon color="accent">window</mat-icon>
                        <span class="ps-1 pe-2 text-bold">{{ 'listing_details.view' | translate }}:</span>
                        {{listing.view}}
                    </div>
                </div>

                <label class="pt-2 text-bold">{{ 'listing_details.address' | translate }}</label>
                <p *ngIf="listing.address" [innerHtml]="listing.address"></p>

                <label class="pt-2 text-bold">{{ 'listing_details.description' | translate }}</label>
                <p *ngIf="listing.description" [innerHtml]="listing.description">
                </p>

                <label class="pt-2 text-bold">{{ 'listing_details.contact' | translate }}</label>
                <p *ngIf="listing.contactNumber" [innerHtml]="listing.contactNumber | mask: '000 000 0000'">
                </p>
                <p *ngIf="!listing.contactNumber">{{ 'listing_details.default_contact_number' | translate }}</p>
            </div>
        </div>
    </div>
</section>

<section class="container d-md-none listing-details-mobile" style="height: 90vh">
    <mat-spinner class="pt-4" *ngIf="!listing.location">
    </mat-spinner>

    <div *ngIf="listing.location">
        <div class="d-flex justify-content-between" style="vertical-align: middle;">
            <span class="h3 pt-4">{{listing.location}} | {{listing.price | currency: listing.currency}} |
                <ng-container *ngIf="listing.purpose === 'For Rent'">{{ 'listing_details.for_rent' | translate }}
                </ng-container>
                <ng-container *ngIf="listing.purpose === 'For Sale'">{{ 'listing_details.for_sale' | translate }}
                </ng-container>
            </span>
        </div>
        <hr>

        <div class="row pt-2 pb-2 listing-images" *ngIf="images.length">
            <ng-image-slider [images]="images" [animationSpeed]="0.1"></ng-image-slider>
        </div>

        <mat-spinner class="pt-2 pb-2" *ngIf="!images.length"></mat-spinner>

        <div class="row pb-2">
            <div class="col-6">
                <mat-icon color="accent">apartment</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.category' | translate }}:</span>
                <span *ngIf="listing.category === 'Apartment'">{{ 'listing_details.apartment' | translate
                    }}</span>
                <span *ngIf="listing.category === 'Villa'">{{ 'listing_details.villa' | translate }}</span>
                <span *ngIf="listing.category === 'Townhouse'">{{ 'listing_details.townhouse' | translate
                    }}</span>
                <span *ngIf="listing.category === 'Commercial'">{{ 'listing_details.commercial' | translate
                    }}</span>
            </div>
            <div class="col-6">
                <mat-icon color="accent">aspect_ratio</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.propertySize' | translate }}
                    (m<sup>2</sup>):</span>
                {{listing.propertySize}}
            </div>
            <div class="col-6">
                <mat-icon color="accent">bed</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.bedrooms' | translate }}:</span>
                {{listing.bedrooms}}
            </div>
            <div class="col-6">
                <mat-icon color="accent">bathtub</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.bathrooms' | translate }}:</span>
                {{listing.bathrooms}}
            </div>
            <div class="col-6" *ngIf="listing.view">
                <mat-icon color="accent">window</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.view' | translate }}:</span>
                {{listing.view}}
            </div>
        </div>

        <label class="pt-2 text-bold">{{ 'listing_details.address' | translate }}</label>
        <p *ngIf="listing.address" [innerHtml]="listing.address"></p>

        <label class="pt-2 text-bold">{{ 'listing_details.description' | translate }}</label>
        <p *ngIf="listing.description" [innerHtml]="listing.description">
        </p>

        <label class="pt-2 pb-2 text-bold d-block">{{ 'listing_details.contact' | translate }}</label>

        <a mat-mini-fab color="accent" [href]="contactNumberUrl">
            <mat-icon>phone_in_talk</mat-icon>
        </a>
        <span class="ps-2"></span>
        <span *ngIf="listing.contactNumber" [innerHtml]="listing.contactNumber | mask: '000 000 0000'">
        </span>
        <span *ngIf="!listing.contactNumber">{{ 'listing_details.default_contact_number' | translate }}</span>
        
        <hr>
    </div>
</section>