<mat-toolbar class="navbar">
    <a class="navbar-brand" [routerLink]="['/']">
        <span class="home-icon-wrapper">
            <img width="22rem" height="22rem" src="/assets/images/logo.png">
        </span>
    </a>

    <div class="d-none d-md-flex">
        <a mat-button [routerLink]="['/listings']">{{ 'layout.listings' | translate }}</a>
        <a *ngIf="loggedIn" mat-button [routerLink]="['/listing-edit']">{{ 'layout.edit_listings' | translate }}</a>
        <a mat-button [routerLink]="['/about-us']">{{ 'layout.about_us' | translate }}</a>
        <a *ngIf="!loggedIn" mat-button (click)="showLoginModal()">
            {{ 'layout.sign_in' | translate }}
        </a>
        <a *ngIf="loggedIn" mat-button (click)="logout()">
            {{ 'layout.sign_out' | translate }}
        </a>
        <div class="language-toggle">
            <mat-icon>language</mat-icon>
            <mat-form-field color="accent">
                <mat-select [(ngModel)]="lang" (selectionChange)="useLanguage($event)">
                    <mat-option value='en'>{{ 'layout.english' | translate }}</mat-option>
                    <mat-option value='vn'>{{ 'layout.vietnamese' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <button mat-button class="menu-button d-md-none" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav"
        (click)="sidenav.toggle()">
        <div class="ps-4 language-toggle-mobile">
            <mat-icon>language</mat-icon>
            <mat-form-field class="ps-3" color="accent" (click)="$event.stopPropagation()">
                <mat-select [(ngModel)]="lang" (selectionChange)="useLanguage($event)">
                    <mat-option value='en'>{{ 'layout.english' | translate }}</mat-option>
                    <mat-option value='vn'>{{ 'layout.vietnamese' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <a mat-button [routerLink]="['/listings']">
            <mat-icon>view_list</mat-icon>
            <span class="ps-3">{{ 'layout.listings' | translate }}</span>
        </a>
        <a *ngIf="loggedIn" mat-button [routerLink]="['/listing-edit']">
            <mat-icon>edit</mat-icon>
            <span class="ps-3">{{ 'layout.edit_listings' | translate }}</span>
        </a>
        <a mat-button [routerLink]="['/about-us']">
            <mat-icon>real_estate_agent</mat-icon>
            <span class="ps-3">{{ 'layout.about_us' | translate }}</span>
        </a>
        <a *ngIf="!loggedIn" mat-button (click)="showLoginModal()">
            <mat-icon>login</mat-icon>
            <span class="ps-3"> {{ 'layout.sign_in' | translate }}</span>
        </a>
        <a *ngIf="loggedIn" mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span class="ps-3">{{ 'layout.sign_out' | translate }}</span>
        </a>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-spinner></app-spinner>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>