@use "src/app/styles/colors" as colors;

.navbar {
    background-color: colors.$primary;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    background: colors.$primary-dark;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    background: colors.$primary;
    min-width: 240px;
    a {
        display: block;
        padding: 6px 24px;
        width: 100%;
        text-align: left;
    }
}

.menu-button {
    margin-right: 24px;
    min-width: 0;
    padding: 0;
    line-height: normal;
}

mat-sidenav-container,
mat-sidenav-content {
    overflow: initial !important; //allowing position sticky on criteria panel
}

.language-toggle {
    font-size: 10px;
    width: 80px;

    mat-form-field {
        width: 70px !important;
    }
}

.language-toggle-mobile {
    mat-form-field {
        width: 30vw !important;
    }
}
