.about-us-section {
    background: linear-gradient(90deg, #f7797d, #fbd786);
    padding-bottom: 10vh;
}

.about-us-section-mobile {
    background: linear-gradient(135deg, #f7797d, #fbd786);
    padding-bottom: 10vh;
}

.contact-us-section {
    background: white;
    padding-bottom: 10vh;
}

.section-title {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 2rem;
}
