.about-us-section {
    background: linear-gradient(135deg, rgb(217, 179, 166), rgb(211, 206, 160));
    padding-bottom: 10vh;
}

.about-us-section-mobile {  
    background: linear-gradient(135deg, rgb(217, 179, 166), rgb(211, 206, 160));
    padding-bottom: 10vh;
}

.contact-us-section {
    background: white;
    padding-bottom: 10vh;
}
