<section class="container p-3">
    <app-spinner></app-spinner>
    <div class="close-btn">
        <button mat-icon-button color="default" (click)="closeDialog()">
            <mat-icon color="accent">close</mat-icon>
        </button>
    </div>
    <div class="row pb-2">
        <div class="col-12">
            <h1 class="h3">
                <span *ngIf="isEditMode">{{ 'listing_upload.edit_listing' | translate | titlecase }}</span>
                <span *ngIf="!isEditMode">{{ 'listing_upload.upload_new' | translate | titlecase }}</span>
            </h1>
            <mat-divider></mat-divider>
        </div>
    </div>

    <mat-vertical-stepper linear="true" color="accent" [animationDuration]="'250'">
        <mat-step [stepControl]="projectNameForm" #step1>
            <ng-template matStepLabel>
                {{ 'listing_upload.project_info' | translate }}
            </ng-template>
            <form [formGroup]="projectNameForm">
                <mat-form-field color="accent" class="m-2">
                    <mat-label>{{ 'listing_upload.project_name' | translate }}</mat-label>
                    <mat-select formControlName="projectName" required [(ngModel)]="listing.projectId" (ngModelChange)="projectNameChanged = true">
                        <mat-option *ngFor="let project of projects" [value]="project.id">
                            {{project.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <button mat-raised-button matStepperNext>Next</button>
        </mat-step>

        <mat-step #step2>
            <ng-template matStepLabel>
                {{ 'listing_upload.listing_info' | translate }}
            </ng-template>
            <form #uploadForm="ngForm">
                <div class="row pt-2">
                    <div class="col-12 pb-2">
                        <div class="h5 text-bold">{{ 'listing_upload.basic_info' | translate }}</div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.purpose' | translate }}</mat-label>
                            <mat-select name="purpose" [(ngModel)]="listing.purpose" required
                                (selectionChange)="onPurposeSelect($event)">
                                <mat-option value='For Rent'>{{ 'listing_upload.for_rent' | translate }}</mat-option>
                                <mat-option value='For Sale'>{{ 'listing_upload.for_sale' | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-3">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.category' | translate }}</mat-label>
                            <mat-select name="category" [(ngModel)]="listing.category" required [disabled]="isEditMode">
                                <mat-option value="Apartment">{{ 'property_category.apartment' | translate
                                    }}</mat-option>
                                <mat-option value="Villa">{{ 'property_category.villa' | translate }}</mat-option>
                                <mat-option value="Townhouse">{{ 'property_category.townhouse' | translate
                                    }}</mat-option>
                                <mat-option value="Commercial">{{ 'property_category.commercial' | translate
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-3">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.subcategory' | translate }}</mat-label>
                            <input matInput trim="blur" name="subcategory" type="text" [(ngModel)]="listing.subcategory"
                                class="d-inline" placeholder="Duplex">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-3"></div>
                    <div class="col-12 col-sm-3">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.bedrooms' | translate }}</mat-label>
                            <input matInput trim="blur" name="bedrooms" type="text" [(ngModel)]="listing.bedrooms"
                                class="d-inline" [placeholder]="'listing_upload.bedrooms_placeholder' | translate"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-3">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.bathrooms' | translate }}</mat-label>
                            <input matInput trim="blur" name="bathrooms" type="text" [(ngModel)]="listing.bathrooms"
                                class="d-inline" [placeholder]="'listing_upload.bathrooms_placeholder' | translate"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-3">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.property_sizes' | translate }} (m<sup>2</sup>)</mat-label>
                            <input matInput trim="blur" type="text" [(ngModel)]="listing.propertySize" class="d-inline"
                                name="propertySize" placeholder="100, 200..." required>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-3">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.view' | translate }}</mat-label>
                            <input matInput trim="blur" type="text" [(ngModel)]="listing.view" class="d-inline"
                                name="propertyView" placeholder="Sông, nội khu...">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="price-input-group">
                            <mat-form-field color="accent">
                                <mat-label>{{ 'listing_upload.price' | translate }}</mat-label>
                                <input matInput trim="blur" type="text" [(ngModel)]="listing.price" name="price"
                                    placeholder="0" required mask="separator" thousandSeparator=",">
                                <mat-select name="currency" [(ngModel)]="listing.currency" required>
                                    <mat-option value='USD'>US$</mat-option>
                                    <mat-option value='VND'>đ</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-12 pb-2">
                        <div class="h5 text-bold">{{ 'listing_upload.important_info' | translate }}</div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.address' | translate }}</mat-label>
                            <input matInput trim="blur" name="address" type="text" [(ngModel)]="listing.address"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6">
                        <mat-form-field color="accent">
                            <mat-label>{{ 'listing_upload.location' | translate }}</mat-label>
                            <input name="locations" matInput trim="blur" type="text" [matAutocomplete]="locationsAuto"
                                [(ngModel)]="listing.location" (ngModelChange)="updateOptions()" required>
                            <mat-autocomplete #locationsAuto="matAutocomplete">
                                <mat-option *ngFor="let location of filteredLocations$ | async" value="{{location}}">
                                    {{location}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field color="accent">
                            <mat-label>
                                {{ 'listing_upload.amenities' | translate }}
                            </mat-label>
                            <mat-chip-grid #amenitiesList>
                                <mat-chip-row *ngFor="let amenity of amenities"
                                    (removed)="uploadForm.form.markAsDirty(); removeAmenity(amenity)">
                                    {{ amenity | translate }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                <input [placeholder]="'listing_upload.select_amenities' | translate" #amenitiesInput
                                    [matChipInputFor]="amenitiesList" [matAutocomplete]="amenitiesAuto"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="uploadForm.form.markAsDirty(); addAmenity($event)">
                            </mat-chip-grid>
                            <mat-autocomplete #amenitiesAuto="matAutocomplete"
                                (optionSelected)="uploadForm.form.markAsDirty(); selectedAmenity($event)">
                                <mat-option *ngFor="let amenity of allAmenities" [value]="amenity">
                                    {{ amenity | translate }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="col-12">
                        <mat-label>{{ 'listing_upload.description' | translate }}</mat-label>
                        <div class="pt-2 mat-form-field-wrapper">
                            <app-editor [text]="listing.description!"
                                (textChange)="listing.description = $event; uploadForm.form.markAsDirty()"></app-editor>
                        </div>
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-12 pb-2">
                        <div class="h5 text-bold">Thông tin khác</div>
                    </div>
                    <div class="col-12 col-sm-8">
                        <mat-form-field color="accent" style="width: 50%">
                            <mat-label>{{ 'listing_upload.contact_number' | translate }}</mat-label>
                            <input matInput trim="blur" name="contactNumber" type="text"
                                [(ngModel)]="listing.contactNumber" class="d-inline" mask="000 000 0000">
                        </mat-form-field>
                        <mat-form-field color="accent" style="width: 50%">
                            <mat-label>{{ 'listing_upload.contact_person' | translate }}</mat-label>
                            <input matInput trim="blur" name="contactPerson" type="text"
                                [(ngModel)]="listing.contactPerson" class="d-inline" placeholder="Mr. Tim...">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-4">
                        <mat-form-field color="accent" [floatLabel]="'always'">
                            <mat-label>{{ 'listing_upload.available_on' | translate }}</mat-label>
                            <mat-select name="contactChannels" [(ngModel)]="listing.contactChannels" multiple>
                                <mat-option *ngFor="let channel of AvailableContactChannels"
                                    [value]="channel">{{channel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12 h5 text-bold">
                        {{ 'listing_upload.upload_images' | translate }}
                    </div>
                </div>

                <ng-container *ngIf="isEditMode">
                    <div>
                        <ng-container *ngIf="!coverImageEditRequested; else coverImageUpload">
                            <button type="button" mat-button (click)="onEditCoverImage()"
                                [disabled]="gettingCoverImage">
                                <span>{{ 'listing_upload.edit_cover_img' | translate }}</span>
                                <mat-spinner *ngIf="gettingCoverImage"></mat-spinner>
                            </button>
                        </ng-container>
                    </div>

                    <div class="pt-4 image-container">
                        <ng-container *ngIf="!mediaEditRequested; else mediaUpload">
                            <button type="button" mat-button (click)="onEditMedia()" [disabled]="gettingMedia">
                                <span>{{ 'listing_upload.edit_media' | translate }}</span>
                                <mat-spinner *ngIf="gettingMedia"></mat-spinner>
                            </button>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="!isEditMode">
                    <div>
                        <ng-container *ngTemplateOutlet="coverImageUpload"></ng-container>
                    </div>

                    <div class="pt-4 image-container">
                        <ng-container *ngTemplateOutlet="mediaUpload"></ng-container>
                    </div>
                </ng-container>

                <div class="row pt-2 pb-2">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" *ngIf="!isEditMode" mat-fab color="default" (click)="publishListing()"
                            [disabled]="!(listing.projectId && uploadForm.valid && coverImageFile && imageFiles.length) 
                            || (listingUploadService.inProgress() | async)">
                            <mat-spinner *ngIf="listingUploadService.inProgress() | async" [diameter]="35">
                            </mat-spinner>
                            <mat-icon color="accent"
                                *ngIf="!(listingUploadService.inProgress() | async)">publish</mat-icon>
                        </button>
                        <button type="submit" *ngIf="isEditMode" mat-fab color="default" (click)="saveEdit()"
                            [disabled]="!uploadForm.valid
                            || (imageFilesModified && !imageFiles.length)
                            || (coverImageModified && !coverImageFile?.size)
                            || (projectNameChanged && !listing.projectId)
                            || (listingUploadService.inProgress() | async)">
                            <mat-spinner *ngIf="listingUploadService.inProgress() | async" [diameter]="35">
                            </mat-spinner>
                            <mat-icon color="accent"
                                *ngIf="!(listingUploadService.inProgress() | async)">save</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</section>

<ng-template #coverImageUpload>
    <mat-label class="pe-2">{{ 'listing_upload.cover_image' | translate }}</mat-label>
    <input #coverImageInput hidden="true" type="file" accept="image/*" onclick="this.value=null"
        (change)="onCoverImageUpload($event)" />
    <button type="button" *ngIf="!coverImageSrc" mat-button color="accent" (click)="coverImageInput.click()">
        <mat-icon>upload</mat-icon>
    </button>
    <div *ngIf="coverImageSrc" class="mt-2 cover-image-container" style="position: relative">
        <img style="border-radius: 16px; object-fit: cover" width="400px" [src]="coverImageSrc">
        <button class="img-delete-btn" type="button" mat-mini-fab (click)="removeCoverImage()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</ng-template>

<ng-template #mediaUpload>
    <mat-label class="pe-2">{{ 'listing_upload.media_to_upload' | translate }}</mat-label>

    <input #imageInput multiple hidden="true" type="file" accept="image/*" onclick="this.value=null"
        (change)="onMediaUpload($event)" />
    <button type="button" mat-button color="accent" [matBadge]="imageFiles.length" matBadgeColor="primary"
        (click)="imageInput.click()">
        <mat-icon *ngIf="!compressionInProgress">image</mat-icon>
        <mat-spinner *ngIf="compressionInProgress" [diameter]="25"></mat-spinner>
    </button>

    <div class="d-flex pt-2 listing-images-container" style="overflow: scroll; white-space: nowrap; flex-grow: 1;
    flex-basis: 0;" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="uploadedMediaDrop($event)">
        <span class="mx-1 listing-image" cdkDrag *ngFor="let imgSrc of imageSrcs; let i = index;">
            <img height="200px" width="200px" [src]="imgSrc" style="object-fit: cover;">
            <button #deleteBtn class="img-delete-btn" type="button" mat-mini-fab [disabled]="compressionInProgress"
                (click)="removeUploadedMedia(imgSrc)">
                <mat-icon>delete</mat-icon>
            </button>
        </span>
    </div>
</ng-template>