.image-container {
    display: block;
    overflow: auto;
}

.listing-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    cursor: move;
    flex-basis: 0;
}

.listing-image-group {
    height: 200px;
    width: 200px;
}

.remove-image-btn {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 36px;
    color: white;
    height: 36px;
    padding: 6px;
    position: relative;
    right: 30px;
    bottom: 50px;
    width: 36px;
}

.uploaded-media-draggable {
    width: 50%;
}

.uploaded-media-draggable:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
}

.close-btn {
    position: absolute;
    top: 1vh;
    right: 7.5vw;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.listing-images-container.cdk-drop-list-dragging .listing-image:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
