<section #mobileUploadView class="container pt-2 py-2 d-lg-none">
    <form #uploadDialog="ngForm">
        <div class="row">
            <div class="col-12">
                <h1 class="h3">
                    <span *ngIf="isEditMode">{{ 'listing_upload.edit_listing' | translate }}</span>
                    <span *ngIf="!isEditMode">{{ 'listing_upload.upload_new' | translate }}</span>
                </h1>
            </div>

            <div class="col-12">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.purpose' | translate }}</mat-label>
                    <mat-select name="purpose" [(ngModel)]="listing.purpose" (selectionChange)="onPurposeSelect($event)"
                        required>
                        <mat-option selected value='For Rent'>{{ 'listing_upload.for_rent' | translate }}</mat-option>
                        <mat-option value='For Sale'>{{ 'listing_upload.for_sale' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.category' | translate }}</mat-label>
                    <mat-select name="category" [(ngModel)]="listing.category" required [disabled]="isEditMode">
                        <mat-option value="Apartment">{{ 'property_category.apartment' | translate }}</mat-option>
                        <mat-option value="Villa">{{ 'property_category.villa' | translate }}</mat-option>
                        <mat-option value="Townhouse">{{ 'property_category.townhouse' | translate }}</mat-option>
                        <mat-option value="Commercial">{{ 'property_category.commercial' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.subcategory' | translate }}</mat-label>
                    <input matInput trim="blur" name="subcategory" type="text" [(ngModel)]="listing.subcategory"
                        class="d-inline">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.location' | translate }}</mat-label>
                    <input name="locations" matInput trim="blur" type="text" aria-label="Location"
                        [matAutocomplete]="locationsAuto" [(ngModel)]="listing.location"
                        (ngModelChange)="updateOptions()" placeholder="Hưng Thái 1" required>
                    <mat-autocomplete #locationsAuto="matAutocomplete">
                        <mat-option *ngFor="let location of filteredLocations$ | async" value="{{location}}">
                            {{location}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.property_sizes' | translate }} (m<sup>2</sup>)</mat-label>
                    <input matInput trim="blur" type="text" [(ngModel)]="listing.propertySize" class="d-inline"
                        name="propertySize" placeholder="100, 200..." required>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.view' | translate }}</mat-label>
                    <input matInput trim="blur" type="text" [(ngModel)]="listing.view" class="d-inline"
                        name="propertyView" placeholder="Sông, nội khu...">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.bedrooms' | translate }}</mat-label>
                    <input matInput trim="blur" name="bedrooms" type="text" [(ngModel)]="listing.bedrooms"
                        class="d-inline" placeholder="# of bedrooms..." required>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.bathrooms' | translate }}</mat-label>
                    <input matInput trim="blur" name="bathrooms" type="text" [(ngModel)]="listing.bathrooms"
                        class="d-inline" placeholder="# of bathrooms..." required>
                </mat-form-field>
            </div>
            <div class="col-12">
                <div class="price-input-group">
                    <mat-form-field color="accent">
                        <mat-label>{{ 'listing_upload.price' | translate }}</mat-label>
                        <input matInput trim="blur" type="text" [(ngModel)]="listing.price" name="price" placeholder="0"
                            required mask="separator" thousandSeparator=",">
                        <mat-select name="currency" [(ngModel)]="listing.currency" required>
                            <mat-option selected value='USD'>US$</mat-option>
                            <mat-option value='VND'>đ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.address' | translate }}</mat-label>
                    <input matInput trim="blur" name="address" type="text" aria-label="Address"
                        [(ngModel)]="listing.address" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="pt-1 pb-1">{{ 'listing_upload.description' | translate }}</label>
                <div class="mat-form-field-wrapper">
                    <app-editor [text]="listing.description!"
                        (textChange)="listing.description = $event; uploadForm.form.markAsDirty()">
                    </app-editor>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>
                    <mat-form-field color="accent" style="width: 50%">
                        <mat-label>{{ 'listing_upload.contact_number' | translate }}</mat-label>
                        <input matInput trim="blur" name="contactNumber" type="text" [(ngModel)]="listing.contactNumber"
                            class="d-inline" mask="000 000 0000">
                    </mat-form-field>
                    <mat-form-field color="accent" style="width: 50%">
                        <mat-label>{{ 'listing_upload.contact_person' | translate }}</mat-label>
                        <input matInput trim="blur" name="contactPerson" type="text" [(ngModel)]="listing.contactPerson"
                            class="d-inline" placeholder="Mr. Philip...">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12">
                <mat-form-field color="accent" [floatLabel]="'always'">
                    <mat-label>{{ 'listing_upload.available_on' | translate }}</mat-label>
                    <mat-select name="contactChannels" [(ngModel)]="listing.contactChannels" multiple>
                        <mat-option *ngFor="let channel of AvailableContactChannels" [value]="channel">{{channel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.tiktok_link' | translate }}</mat-label>
                    <input matInput trim="blur" name="tiktokUrl" type="text" [(ngModel)]="listing.tiktokUrl">
                </mat-form-field>
            </div>
        </div>
        <hr>

        <ng-container *ngIf="isEditMode">
            <ng-container *ngIf="!coverImageEditRequested; else coverImageUpload">
                <div>
                    <button type="button" mat-button (click)="onEditCoverImage()" [disabled]="gettingCoverImage">
                        <span>{{ 'listing_upload.edit_cover_img' | translate }}</span>
                        <mat-spinner *ngIf="gettingCoverImage"></mat-spinner>
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="!mediaEditRequested; else mediaUpload">
                <div class="pt-4 image-container">
                    <button type="button" mat-button (click)="onEditMedia()" [disabled]="gettingMedia">
                        <span>{{ 'listing_upload.edit_media' | translate }}</span>
                        <mat-spinner *ngIf="gettingMedia"></mat-spinner>
                    </button>
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!isEditMode">
            <ng-container *ngTemplateOutlet="coverImageUpload"></ng-container>
            <ng-container *ngTemplateOutlet="mediaUpload"></ng-container>
        </ng-container>

        <div class="row pb-2">
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" *ngIf="!isEditMode" mat-fab color="default" (click)="publishListing()" [disabled]="!(uploadDialog.valid && coverImageFile && imageFiles?.length) 
                        || (listingUploadService.inProgress() | async)">
                    <mat-spinner *ngIf="listingUploadService.inProgress() | async" [diameter]="35">
                    </mat-spinner>
                    <mat-icon color="accent" *ngIf="!(listingUploadService.inProgress() | async)">publish</mat-icon>
                </button>
                <button type="submit" *ngIf="isEditMode" mat-fab color="default" (click)="saveEdit()" [disabled]="!uploadDialog.valid
                        || (imageFilesModified && !imageFiles.length)
                        || (coverImageModified && !coverImageFile?.size)
                        || (listingUploadService.inProgress() | async)">
                    <mat-spinner *ngIf="listingUploadService.inProgress() | async" [diameter]="35">
                    </mat-spinner>
                    <mat-icon color="accent" *ngIf="!(listingUploadService.inProgress() | async)">save</mat-icon>
                </button>
            </div>
        </div>
    </form>
</section>

<ng-template #coverImageUpload>
    <div>
        <mat-label class="pe-2">{{ 'listing_upload.cover_image' | translate }}</mat-label>
        <input #coverImageInput hidden="true" type="file" accept="image/*" onclick="this.value=null"
            (change)="onCoverImageUpload($event)" />
        <button type="submit" *ngIf="!coverImageSrc" mat-button color="accent" (click)="coverImageInput.click()">
            <mat-icon>upload</mat-icon>
        </button>
        <div *ngIf="coverImageSrc" class="pt-2 mat-form-field-wrapper">
            <img height="90px" width="150px" [src]="coverImageSrc">
            <button type="submit" mat-icon-button (click)="removeCoverImage()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #mediaUpload>
    <div class="pt-4 image-container">
        <mat-label>{{ 'listing_upload.media_to_upload' | translate }}</mat-label>

        <input #imageInput multiple hidden="true" type="file" accept="image/*" onclick="this.value=null"
            (change)="onMediaUpload($event)" />

        <button type="submit" mat-button color="accent" [matBadge]="imageFiles.length" matBadgeColor="primary"
            (click)="imageInput.click()">
            <mat-icon *ngIf="!compressionInProgress">image</mat-icon>
            <mat-spinner *ngIf="compressionInProgress" [diameter]="25"></mat-spinner>
        </button>

        <div class="pt-2 mat-form-field-wrapper" cdkDropList (cdkDropListDropped)="uploadedMediaDrop($event)">
            <div class="col-12 pb-1" *ngFor="let imgSrc of imageSrcs; let i = index" cdkDrag>
                <mat-card>
                    <mat-card-content>
                        <img [src]="imgSrc" class="listing-image">
                        <div style="float: right;">
                            <button type="button" mat-icon-button [disabled]="compressionInProgress"
                                (click)="removeUploadedMedia(imgSrc)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button type="button" mat-button cdkDragHandle>
                                <mat-icon>drag_handle</mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</ng-template>