<section #desktopSearchView class="container-flex pt-2 ms-4 me-4 d-none d-lg-block listing-search-desktop-section">
    <h1 class="page-title">
        {{ 'listing_search.page_title' | translate }}
    </h1>
    <mat-divider class="pb-2"></mat-divider>
    <div class="row">
        <div class="col-4" style="border-right: 1px solid rgba(0, 0, 0, 0.12)">
            <search-bar class="float-search-controls-desktop" [mode]="'desktop'"></search-bar>
        </div>
        <div class="col-8">
            <search-results [mode]="'desktop'"></search-results>
        </div>
    </div>
</section>

<section #mobileSearchView class="container pt-2 py-2 d-lg-none listing-search-mobile-section">
    <search-bar [mode]="'mobile'"></search-bar>
    <mat-divider class="pb-1"></mat-divider>
    <search-results [mode]="'mobile'"></search-results>

    <div class="float-controls-mobile d-sm-none">
        <button mat-mini-fab (click)="scrollTop()">
            <mat-icon color="accent">keyboard_arrow_up</mat-icon>
        </button>
    </div>
</section>