<section #desktopSearchView class="container-flex pt-2 ms-4 me-4 d-none d-lg-block listing-search-desktop-section">
    <h1 class="page-title">
        {{ 'listing_search.page_title' | translate }}
    </h1>
    <mat-divider class="pb-2"></mat-divider>
    <div class="pt-2 pb-3">
        <search-bar class="pe-2" [mode]="'desktop'">
        </search-bar>
    </div>
    <mat-divider class="pb-2"></mat-divider>
    <div class="pb-2">
        <div class="row pb-3">
            <!-- <div class="col-4">
                <listing-location></listing-location>
            </div> -->
            <div class="col-12">
                <search-results [mode]="'desktop'"></search-results>
            </div>
        </div>
    </div>
</section>

<section #mobileSearchView class="container pt-2 py-2 d-lg-none listing-search-mobile-section">
    <search-bar [mode]="'mobile'"></search-bar>
    <hr>
    <search-results [mode]="'mobile'"></search-results>

    <div class="float-controls-mobile d-sm-none">
        <button mat-mini-fab (click)="scrollTop()">
            <mat-icon color="accent">keyboard_arrow_up</mat-icon>
        </button>
    </div>
</section>