<mat-card class="mt-1 result-card" (click)="showListing()">
    <div *ngIf="!coverImageUrl" class="ph-picture"></div>
    <img mat-card-image *ngIf="coverImageUrl" [src]="coverImageUrl">
    <mat-card-content>
        <div class="row">
            <div class="col-12 pb-2 text-vertical-align">
                <span class="text-bold font-medium" *ngIf="listing.price">{{listing.price | currency:
                    listing.currency : 'symbol' : '1.0-0'}}</span>
                <div class="d-inline text-small text-vertical-align" style="float: right;">
                    <ng-container *ngIf="listing.bedrooms">
                        <mat-icon class="property-desc-icons" color="accent">bed</mat-icon>
                        <span class="ps-1 pe-3">{{listing.bedrooms}}</span>
                    </ng-container>
                    <ng-container *ngIf="listing.bathrooms">
                        <mat-icon class="property-desc-icons" color="accent">bathtub</mat-icon>
                        <span class="ps-1">{{listing.bathrooms}}</span>
                    </ng-container>
                </div>
            </div>
            <div class="col-12">
                <div class="result-card-description">
                    <ng-container *ngIf="translate.currentLang === 'en'">
                        <ng-container *ngTemplateOutlet="englishDescription">
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="translate.currentLang === 'vn'">
                        <ng-container *ngTemplateOutlet="vietnameseDescription">
                        </ng-container>
                    </ng-container>
                </div>
                <div class="row">
                    <span *ngIf="listing.address" class="col-10 result-card-address">{{listing.address}}</span>
                </div>
                <button mat-icon-button (click)="getShareableLink($event)" class="share-link-btn"
                    [title]="'listing_card.share_listing' | translate">
                    <mat-icon>link</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #englishDescription>
    <span *ngIf="listing.propertySize" class="pe-1">{{listing.propertySize}}m<sup>2</sup></span>
    <span *ngIf="listing.location" class="text-bold pe-1">{{listing.location}}</span>
    <div class="d-inline pe-1" *ngIf="listing.category">
        <span *ngIf="listing.category === 'Apartment'">{{'search_results.apartment' | translate |
            lowercase}}</span>
        <span *ngIf="listing.category === 'Villa'">{{'search_results.villa' | translate |
            lowercase}}</span>
        <span *ngIf="listing.category === 'Townhouse'">{{'search_results.townhouse' | translate |
            lowercase}}</span>
        <span *ngIf="listing.category === 'Commercial'">{{'search_results.commercial' | translate |
            lowercase}}</span>
    </div>
</ng-template>

<ng-template #vietnameseDescription>
    <div class="d-inline pe-1" *ngIf="listing.category">
        <span *ngIf="listing.category === 'Apartment'">{{ 'search_results.apartment' | translate
            }}</span>
        <span *ngIf="listing.category === 'Villa'">{{'search_results.villa' | translate}}</span>
        <span *ngIf="listing.category === 'Townhouse'">{{ 'search_results.townhouse' | translate
            }}</span>
        <span *ngIf="listing.category === 'Commercial'">{{ 'search_results.commercial' | translate
            }}</span>
    </div>
    <span *ngIf="listing.location" class="text-bold pe-1">{{listing.location}}</span>
    <span *ngIf="listing.propertySize" class="pe-1">{{listing.propertySize}}m<sup>2</sup></span>
    <span *ngIf="listing.view ">{{ 'search_results.view' |
        translate |
        lowercase }}
        {{listing.view | lowercase }}
    </span>
</ng-template>