<a (click)="showListing()">
    <mat-card class="mt-1 result-card" >
        <div *ngIf="!coverImageUrl" class="ph-picture"></div>
        <img mat-card-image *ngIf="coverImageUrl" [src]="coverImageUrl">
        <ng-container *ngIf="showControls">
            <ng-container *ngTemplateOutlet="cardControls"></ng-container>
        </ng-container>
        <mat-card-content>
            <div class="row">
                <div class="col-12 pb-2 text-vertical-align">
                    <span class="text-bold font-medium" *ngIf="listing.price">{{listing.price | currency:
                        listing.currency : 'symbol' : '1.0-0'}}</span>
                    <div class="d-inline text-small text-vertical-align" style="float: right;">
                        <ng-container *ngIf="listing.bedrooms">
                            <mat-icon class="property-desc-icons" color="accent">bed</mat-icon>
                            <span class="ps-1 pe-3">{{listing.bedrooms}}</span>
                        </ng-container>
                        <ng-container *ngIf="listing.bathrooms">
                            <mat-icon class="property-desc-icons" color="accent">bathtub</mat-icon>
                            <span class="ps-1">{{listing.bathrooms}}</span>
                        </ng-container>
                    </div>
                </div>
                <div class="col-12">
                    <div class="result-card-description">
                        <ng-container *ngIf="translate.currentLang === 'en'">
                            <ng-container *ngTemplateOutlet="englishDescription">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="translate.currentLang === 'vn'">
                            <ng-container *ngTemplateOutlet="vietnameseDescription">
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="row">
                        <span *ngIf="listing.address" class="col-10 result-card-address">{{listing.address}}</span>
                    </div>
                    <div *ngIf="listing.tagID" class="result-tag-id">
                        #{{listing.tagID}}
                    </div>
                    <button mat-icon-button (click)="getShareableLink($event)" class="share-link-btn"
                        [matTooltip]="'listing_card.share_listing' | translate">
                        <mat-icon>link</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</a>

<ng-template #englishDescription>
    <span *ngIf="listing.propertySize" class="pe-1">{{listing.propertySize}}m<sup>2</sup></span>
    <span *ngIf="listing.location" class="text-bold pe-1">{{listing.location}}</span>
    <div class="d-inline pe-1" *ngIf="listing.category">
        <span *ngIf="listing.category === 'Apartment'">{{ 'property_category.apartment' | translate |
            lowercase}}</span>
        <span *ngIf="listing.category === 'Villa'">{{ 'property_category.villa' | translate |
            lowercase}}</span>
        <span *ngIf="listing.category === 'Townhouse'">{{ 'property_category.townhouse' | translate |
            lowercase}}</span>
        <span *ngIf="listing.category === 'Commercial'">{{ 'listing_card.commercial' | translate |
            lowercase}}</span>
    </div>
    <span *ngIf="listing.subcategory" class="pe-1">({{listing.subcategory | lowercase}})</span>
</ng-template>

<ng-template #vietnameseDescription>
    <div class="d-inline pe-1" *ngIf="listing.category">
        <span *ngIf="listing.category === 'Apartment'">{{ 'property_category.apartment' | translate
            }}</span>
        <span *ngIf="listing.category === 'Villa'">{{ 'property_category.villa' | translate}}</span>
        <span *ngIf="listing.category === 'Townhouse'">{{ 'property_category.townhouse' | translate
            }}</span>
        <span *ngIf="listing.category === 'Commercial'">{{ 'listing_card.commercial' | translate
            }}</span>
    </div>
    <span *ngIf="listing.subcategory" class="pe-1">{{listing.subcategory | lowercase}}</span>
    <span *ngIf="listing.location" class="text-bold pe-1">{{listing.location}}</span>
    <span *ngIf="listing.propertySize" class="pe-1">{{listing.propertySize}}m<sup>2</sup></span>
    <span *ngIf="listing.view ">{{ 'search_results.view' |
        translate |
        lowercase }}
        {{listing.view | lowercase }}
    </span>
</ng-template>

<ng-template #cardControls>
    <button mat-icon-button class="edit-btn" [matMenuTriggerFor]="controlsMenu"
        [matTooltip]="'listing_card.edit' | translate" (click)="$event.stopPropagation()">
        <mat-icon color="accent">more_horiz</mat-icon>
    </button>

    <mat-menu #controlsMenu="matMenu">
        <button mat-menu-item *ngIf="!listing.featured"
            (click)="$event.stopPropagation(); listing.featured = true; listingCard.featureListing(listing.id!)">
            <mat-icon color="accent">star_outline</mat-icon>
            <span>{{ 'listing_card.feature' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="listing.featured"
            (click)="$event.stopPropagation(); listing.featured = false; listingCard.unfeatureListing(listing.id!)">
            <mat-icon color="accent">star</mat-icon>
            <span>{{ 'listing_card.unfeature' | translate }}</span>
        </button>

        <button mat-menu-item class="d-none d-lg-block" (click)="editListing($event)">
            <mat-icon color="accent">edit</mat-icon>
            <span>{{'listing_card.edit' | translate}}</span>
        </button>
        <button mat-menu-item class="d-none d-lg-block" (click)="cloneListing($event)">
            <mat-icon color="accent">add_box</mat-icon>
            <span>{{ 'listing_card.clone' | translate }}</span>
        </button>
        <button mat-menu-item class="d-none d-lg-block" (click)="deleteListing($event)">
            <mat-icon color="accent">delete</mat-icon>
            <span>{{ 'listing_card.delete' | translate }}</span>
        </button>

        <button mat-menu-item class="d-lg-none" (click)="editListingMobile($event)">
            <mat-icon color="accent">edit</mat-icon>
            <span>{{'listing_card.edit' | translate}}</span>
        </button>
        <button mat-menu-item class="d-lg-none" (click)="cloneListingMobile($event)">
            <mat-icon color="accent">add_box</mat-icon>
            <span>{{ 'listing_card.clone' | translate }}</span>
        </button>
        <button mat-menu-item class="d-lg-none" (click)="deleteListing($event)">
            <mat-icon color="accent">delete</mat-icon>
            <span>{{ 'listing_card.delete' | translate }}</span>
        </button>
    </mat-menu>
</ng-template>

<ng-template #confirmationDialog>
    <section class="container-flex justify-content-between">
        <p class="pb-2">{{ 'listing_edit.confirmation_msg' | translate }}</p>
        <div class="d-flex justify-content-end">
            <button mat-button color="accent" [mat-dialog-close]="true">
                {{ 'listing_edit.yes_msg' | translate }}
            </button>
            <button mat-button [mat-dialog-close]="false">{{ 'listing_edit.no_msg' | translate }}</button>
        </div>
    </section>
</ng-template>