<form #uploadForm="ngForm">
    <div class="cover-image mb-2">
        <ng-container [ngTemplateOutlet]="coverImageUpload"></ng-container>
    </div>

    <div class="additional-images mb-2">
        <ng-container [ngTemplateOutlet]="additionalImageUpload"></ng-container>
    </div>

    <mat-form-field class="mb-2">
        <mat-label>Project name</mat-label>
        <input name="projectName" required matInput>
    </mat-form-field>

    <div class="d-flex mb-2">
        <div>Project description</div>
        <app-editor [text]="project.description!"
            (textChange)="project.description = $event; uploadForm.form.markAsDirty()"></app-editor>
    </div>

    <div class="d-flex justify-content-end">
        <ng-container [ngTemplateOutlet]="uploadSubmission"
            [ngTemplateOutletContext]="{uploadForm: uploadForm}"></ng-container>
    </div>
</form>

<ng-template #coverImageUpload>
    <mat-label class="pe-2">{{ 'project_upload.cover_image' | translate }}</mat-label>
    <input #coverImageInput hidden="true" type="file" accept="image/*" onclick="this.value=null"
        (change)="onCoverImageUpload($event)" />
    <button type="button" *ngIf="!coverImageSrc" mat-button color="accent" (click)="coverImageInput.click()">
        <mat-icon>upload</mat-icon>
    </button>
    <div *ngIf="coverImageSrc" class="mt-2 cover-image-container" style="position: relative">
        <img style="border-radius: 16px; object-fit: cover" width="400px" [src]="coverImageSrc">
        <button class="img-delete-btn" type="button" mat-mini-fab (click)="removeCoverImage()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</ng-template>

<ng-template #additionalImageUpload>
    <mat-label class="pe-2">{{ 'listing_upload.media_to_upload' | translate }}</mat-label>

    <input #imageInput multiple hidden="true" type="file" accept="image/*" onclick="this.value=null"
        (change)="onMediaUpload($event)" />
    <button type="button" mat-button color="accent" [matBadge]="imageFiles.length" matBadgeColor="primary"
        (click)="imageInput.click()">
        <mat-icon *ngIf="!compressionInProgress">image</mat-icon>
        <mat-spinner *ngIf="compressionInProgress" [diameter]="25"></mat-spinner>
    </button>

    <div class="d-flex pt-2 listing-images-container" style="overflow: scroll; white-space: nowrap; flex-grow: 1;
    flex-basis: 0;" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="uploadedMediaDrop($event)">
        <span class="mx-1 listing-image" cdkDrag *ngFor="let imgSrc of imageSrcs; let i = index;">
            <img height="200px" width="200px" [src]="imgSrc" style="object-fit: cover;">
            <button #deleteBtn class="img-delete-btn" type="button" mat-mini-fab [disabled]="compressionInProgress"
                (click)="removeUploadedMedia(imgSrc)">
                <mat-icon>delete</mat-icon>
            </button>
        </span>
    </div>
</ng-template>

<ng-template #uploadSubmission let-uploadForm>
    <button type="submit" *ngIf="!isEditMode" mat-raised-button color="default" (click)="publishProject()" [disabled]="!(uploadForm.valid && coverImageFile && imageFiles.length) 
|| (projectUpload.inProgress() | async)">
        <mat-spinner *ngIf="projectUpload.inProgress() | async" [diameter]="35">
        </mat-spinner>
        <mat-icon color="accent" *ngIf="!(projectUpload.inProgress() | async)">publish</mat-icon>
    </button>
    <button type="submit" *ngIf="isEditMode" mat-raised-button color="default" (click)="saveEdit()" [disabled]="uploadForm.pristine || !uploadForm.valid
|| (imageFilesModified && !imageFiles.length)
|| (coverImageModified && !coverImageFile?.size)
|| (projectUpload.inProgress() | async)">
        <mat-spinner *ngIf="projectUpload.inProgress() | async" [diameter]="35">
        </mat-spinner>
        <mat-icon color="accent" *ngIf="!(projectUpload.inProgress() | async)">save</mat-icon>
    </button>
</ng-template>