<section #desktopView class="container pt-2 d-none d-md-block">
    <h1 class="page-title">
        Listings
    </h1>
    <mat-divider class="pb-2"></mat-divider>
    <div class="pt-2 pb-3">
        <app-search-bar class="pe-2" [searchCriteria]="searchCriteria" (searchCompleted)="searchCompleted()">
        </app-search-bar>
    </div>
    <mat-divider class="pb-2"></mat-divider>
    <section>
        <h2>Search Results</h2>
        <div class="row pb-3">
            <div class="col-4">
                <google-map height="400px" width="100%" [options]="mapOptions">
                    <map-marker *ngIf="mapMarker" [position]="mapMarker.position!" [label]="mapMarker.label!">
                    </map-marker>
                </google-map>

            </div>
            <div class="col-8">
                <div class="search-results-desktop">
                    <mat-card *ngFor="let result of searchResults" class="card mb-1" (click)="viewListing(result.id)">
                        <mat-card-title>
                            <span class="h3">{{result.title}}</span>
                            <hr>
                        </mat-card-title>

                        <mat-card-content>
                            <div class="row">
                                <div class="col-4">
                                    <img mat-card-img *ngIf="result.coverImage" [src]="result.coverImage">
                                </div>
                                <div class="col-8">
                                    <div *ngIf="result.propertyType"><label>Type:</label> {{result.propertyType}}</div>
                                    <div *ngIf="result.location"><label>Location:</label> {{result.location}}</div>
                                    <div *ngIf="result.price"><label>Price:</label> ${{result.price}}</div>
                                    <mat-chip color="accent">{{result.forRent? 'For Rent' : 'For Sale'}}</mat-chip>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="currentListingId">
        <mat-divider class="pb-2"></mat-divider>
        <div class="row">
            <div class="col-12 listing-details">
                <app-listing-details [listingId]="currentListingId"></app-listing-details>
            </div>
        </div>
    </section>
</section>

<section #mobileView class="container pt-2 py-2 d-md-none">
    <h1>
        Listings
    </h1>
    <mat-divider class="pb-2"></mat-divider>
    <div class="row">
        <div class="col-6">
            <mat-icon color="accent">apartment</mat-icon>
            <span class="ps-3">{{ propertyTypes[searchCriteria.propertyType] || 'Any'}}</span>
        </div>
        <div class="col-6">
            <mat-icon color="accent">location_on</mat-icon>
            <span class="ps-3">{{ locations[searchCriteria.location] || 'Any'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-icon color="accent">bed</mat-icon>
            <span class="ps-3">{{searchCriteria.bedrooms || 'Any'}}</span>
        </div>
        <div class="col-6">
            <mat-icon color="accent">bathtub</mat-icon>
            <span class="ps-3">{{searchCriteria.bathrooms || 'Any'}}</span>
        </div>
        
    </div>
    <div class="row pb-2">
        <div class="col-6">
            <mat-icon color="accent">photo_size_select_small</mat-icon>
            <span class="ps-3">{{ propertySizes[searchCriteria.propertySize] || 'Any'}}</span>
            <span class="ps-1" *ngIf="propertySizes[searchCriteria.propertySize]">(m<sup>2</sup>)</span>
        </div>
        <div class="col-6">
            <mat-icon color="accent">attach_money</mat-icon>
            <span class="ps-3">{{searchCriteria.minPrice}} - {{searchCriteria.maxPrice}} USD</span>
        </div>
    </div>
    <mat-divider color="primary" class="pb-3"></mat-divider>
    <div class="row">
        <div class="col">
            <mat-card *ngFor="let result of searchResults" class="card mb-1" (click)="viewListingMobile(result.id)">
                <mat-card-title>
                    <span class="h3">{{result.title}}</span>
                    <hr>
                </mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-4">
                            <img width="100px" height="100px" *ngIf="result.coverImage" [src]="result.coverImage">
                        </div>
                        <div class="col-8">
                            <div *ngIf="result.propertyType"><label>Type:</label> {{result.propertyType}}</div>
                            <div *ngIf="result.location"><label>Location:</label> {{result.location}}</div>
                            <div *ngIf="result.price"><label>Price:</label> ${{result.price}}</div>
                            <mat-chip-list >
                                <mat-chip color="accent" selected (click)="$event.stopPropagation(); viewListing(result.id)">
                                    {{result.forRent? 'Rent' : 'Sale'}}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="float-controls-mobile">
        <button mat-fab color="accent">
            <mat-icon (click)="openSearchModal()">filter_alt</mat-icon>
        </button>
    </div>
</section>