<section class="pb-4 container d-none d-md-block listing-details-desktop">
    <div *ngIf="!listing.location" class="pt-4">
        <div class="ph-row pb-4">
            <div class="ph-col-4 big"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-2"></div>

            <div class="ph-col-2 big"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-2"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="ph-item">
                    <div class="ph-picture" style="height: 50vh"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="ph-row">
                    <div class="ph-col-12 big"></div>
                    <div class="ph-col-6 big"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-4 big"></div>
                    <div class="ph-col-8 empty"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="listing.location">
        <div class="row pb-4">
            <div class="col-6">
                <h1>
                    <div class="product-title-desktop">
                        <ng-container *ngIf="translate.currentLang === 'vn'">
                            <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                            </ng-container>
                        </ng-container>
                        {{listing.location}}
                        <ng-container *ngIf="translate.currentLang === 'en'">
                            <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="product-description-desktop">
                        {{listing.price | currency: listing.currency : 'symbol' : '1.0-0'}} |
                        <span *ngIf="listing.purpose === 'For Rent'">{{ 'listing_details.for_rent' | translate }}</span>
                        <span *ngIf="listing.purpose === 'For Sale'">{{ 'listing_details.for_sale' | translate }}</span>
                    </div>
                </h1>
            </div>
            <div class="col-6">
                <div class="contact-block-wrapper-desktop">
                    <label class="d-block pt-2 text-bold d-block">{{ 'listing_details.contact' | translate }}</label>

                    <span *ngIf="listing.contactNumber" [innerHtml]="listing.contactNumber | mask: '000 000 0000'">
                    </span>
                    <p *ngIf="!listing.contactNumber">{{ 'listing_details.default_contact_number' | translate }}</p>
                    <span class="ps-1 pe-1">-</span>
                    <span *ngIf="listing.contactPerson">{{listing.contactPerson}}</span>

                    <div *ngIf="listing.contactChannels?.length">{{ 'listing_details.available_on' | translate }}:
                        {{listing.contactChannels!.join(',
                        ') }}</div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-tab-group mat-stretch-tabs color="accent">
                    <mat-tab [label]="'listing_details.photos' | translate">
                        <div class="pt-2"
                            *ngIf="imageSources && imageSources!.length && images.length && images[images.length - 1]">
                            <swiper #usefulSwiper [config]="{}">
                                <div class="swiper-wrapper">
                                    <img *ngFor="let src of imageSources" class="swiper-slide swiper-image" [src]="src">
                                </div>
                            </swiper>
                            <div class="row pt-4 d-flex">
                                <div [class.col-9]="!allImagesLoaded" [class.col-12]="allImagesLoaded">
                                    <ng-image-slider [images]="images" [manageImageRatio]="true" [imagePopup]="false"
                                        [imageSize]="{height: '50px', width: '90px'}" [animationSpeed]="0.1"
                                        (imageClick)="cycleToSlide($event)">
                                    </ng-image-slider>
                                </div>
                                <div class="col-3 pt-1">
                                    <button *ngIf="!allImagesLoaded" mat-raised-button (click)="getAllImages()">
                                        <mat-icon color="accent">photo_library</mat-icon>
                                        {{ 'listing_details.view_all' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!(imageSources && imageSources!.length)">
                            <mat-spinner></mat-spinner>
                        </div>
                    </mat-tab>
                    <mat-tab [label]="'listing_details.video' | translate" *ngIf="showVideo">
                        <iframe [src]="videoLink" style="width:100%; height: 550px">
                        </iframe>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-6 listing-information">
                <div class="row pb-2">
                    <div class="col-3 important-information">
                        <div class="ps-1 pt-2 pb-4">
                            <mat-icon color="accent">gite</mat-icon>
                        </div>
                        <div class="ps-1 pb-2" style="font-size: 24px;">
                            <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-3 important-information">
                        <div class="ps-1 pt-2 pb-4">
                            <mat-icon color="accent">bed</mat-icon>
                        </div>
                        <div class="ps-1 pb-2" style="font-size: 24px;">
                            <span>{{listing.bedrooms}} {{ 'listing_details.room' | translate }}<ng-container
                                    *ngIf="listing.bedrooms! > 1 && translate.currentLang === 'en'">s</ng-container>
                            </span>
                        </div>
                    </div>
                    <div class="col-3 important-information">
                        <div class="ps-1 pt-2 pb-4">
                            <mat-icon color="accent">bathtub</mat-icon>
                        </div>
                        <div class="ps-1 pb-2" style="font-size: 24px;">
                            <span>{{listing.bathrooms}} {{ 'listing_details.room' | translate }}<ng-container
                                    *ngIf="listing.bedrooms! > 1 && translate.currentLang === 'en'">s</ng-container>
                            </span>
                        </div>
                    </div>
                    <div class="col-3 important-information">
                        <div class="ps-1 pt-2 pb-4">
                            <mat-icon color="accent">aspect_ratio</mat-icon>
                        </div>
                        <div class="ps-1 pb-2" style="font-size: 24px;">
                            <span>{{listing.propertySize}} (m<sup>2</sup>)</span>
                        </div>
                    </div>
                    <div *ngIf="listing.view" class="col-3 important-information">
                        <div class="ps-1 pt-2 pb-4">
                            <mat-icon color="accent">panorama_horizontal_icon</mat-icon>
                        </div>
                        <div class="ps-1 pb-2" style="font-size: 24px;">
                            <span>{{ 'listing_details.view' | translate }} {{listing.view | lowercase}}</span>
                        </div>
                    </div>
                </div>

                <div>
                    <label class="pt-2 text-bold">{{ 'listing_details.address' | translate }}</label>
                    <p *ngIf="listing.address" [innerHtml]="listing.address"></p>
                </div>

                <div>
                    <label class="pt-2 text-bold">{{ 'listing_details.description' | translate }}</label>
                    <p *ngIf="listing.description" [innerHtml]="listing.description">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container d-md-none listing-details-mobile">
    <div class="pt-4" *ngIf="!listing.location">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="listing.location">
        <div class="d-flex justify-content-between" style="vertical-align: middle;">
            <h1 class="pt-3">
                <div class="product-title-mobile">
                    <ng-container *ngIf="translate.currentLang === 'vn'">
                        <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                        </ng-container>
                    </ng-container>
                    {{listing.location}}
                    <ng-container *ngIf="translate.currentLang === 'en'">
                        <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                        </ng-container>
                    </ng-container>
                </div>
                <div class="product-description-mobile">
                    {{listing.price | currency: listing.currency : 'symbol' : '1.0-0'}} |
                    <ng-container *ngIf="listing.purpose === 'For Rent'">{{ 'listing_details.for_rent' | translate }}
                    </ng-container>
                    <ng-container *ngIf="listing.purpose === 'For Sale'">{{ 'listing_details.for_sale' | translate }}
                    </ng-container>
                </div>
            </h1>
        </div>
        <mat-divider></mat-divider>

        <mat-tab-group mat-stretch-tabs color="accent" dynamicHeight>
            <mat-tab [label]="'listing_details.photos' | translate">
                <div class="pt-2 pb-2" *ngIf="!images.length">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="row pt-2 pb-2 listing-images" *ngIf="images.length && images[images.length - 1]">
                    <ng-image-slider class="col-12" [images]="images" [animationSpeed]="0.1"></ng-image-slider>
                    <div class="col-6">
                        <button *ngIf="!allImagesLoaded" [disabled]="gettingAllImages" mat-raised-button color="default"
                            (click)="getAllImages(true);">
                            <mat-icon color="accent">photo_library</mat-icon>
                            <span class="ps-1">{{ 'listing_details.view_all' | translate }}</span>
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'listing_details.video' | translate" *ngIf="showVideo">
                <iframe class="pt-2 pb-2" [src]="videoLink" style="width:100%; height: 550px">
                </iframe>
            </mat-tab>
        </mat-tab-group>

        <div class="row pb-2">
            <div class="col-6">
                <mat-icon color="accent">gite</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.category' | translate }}:</span>
                <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                </ng-container>
            </div>
            <div class="col-6">
                <mat-icon color="accent">aspect_ratio</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.propertySize' | translate }}
                    (m<sup>2</sup>):</span>
                {{listing.propertySize}}
            </div>
            <div class="col-6">
                <mat-icon color="accent">bed</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.bedrooms' | translate }}:</span>
                {{listing.bedrooms}}
            </div>
            <div class="col-6">
                <mat-icon color="accent">bathtub</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.bathrooms' | translate }}:</span>
                {{listing.bathrooms}}
            </div>
            <div class="col-6" *ngIf="listing.view">
                <mat-icon color="accent">panorama_horizontal_icon</mat-icon>
                <span class="ps-1 pe-2 text-bold">{{ 'listing_details.view' | translate }}:</span>
                {{listing.view}}
            </div>
        </div>

        <div>
            <label class="pt-2 text-bold">{{ 'listing_details.address' | translate }}</label>
            <p *ngIf="listing.address" [innerHtml]="listing.address"></p>
        </div>

        <div>
            <label class="pt-2 text-bold">{{ 'listing_details.description' | translate }}</label>
            <p *ngIf="listing.description" [innerHtml]="listing.description">
            </p>
        </div>

        <label class="pt-2 pb-2 text-bold d-block">{{ 'listing_details.contact' | translate }}</label>

        <div class="pb-4">
            <div class="pb-2">
                <a mat-raised-button [href]="contactNumberUrl" style="border-radius: 35px">
                    <mat-icon color="accent">phone_in_talk</mat-icon>
                </a>
                <span class="ps-2"></span>
                <span *ngIf="listing.contactNumber" [innerHtml]="listing.contactNumber | mask: '000 000 0000'">
                </span>
                <span *ngIf="!listing.contactNumber">{{ 'listing_details.default_contact_number' | translate }}</span>
                <span class="ps-1" *ngIf="listing.contactPerson">- {{listing.contactPerson}}</span>
            </div>
            <div *ngIf="listing.contactChannels?.length">Also available on: {{listing.contactChannels!.join(', ') }}
            </div>
        </div>
    </div>
</section>

<app-footer *ngIf="showFooter"></app-footer>

<ng-template #category let-listing="listing">
    <span *ngIf="listing.category === 'Apartment'">{{ 'property_category.apartment' | translate
        }}</span>
    <span *ngIf="listing.category === 'Duplex'">{{ 'property_category.duplex' | translate
        }}</span>
    <span *ngIf="listing.category === 'Villa'">{{ 'property_category.villa' | translate
        }}</span>
    <span *ngIf="listing.category === 'Townhouse'">{{ 'property_category.townhouse' | translate
        }}</span>
    <span *ngIf="listing.category === 'Commercial'">{{ 'property_category.commercial' |
        translate
        }}</span>
</ng-template>