@use "src/app/styles/colors" as colors;

.swiper-image {
    object-fit: cover;
    height: auto;
}

.listing-details-desktop,
.listing-details-mobile {
    min-height: 90vh;
    height: max-content;
}

.product-title-desktop {
    padding-top: 1rem;
    font-size: 30px;
    font-weight: 600;
}

.product-description-desktop {
    font-size: 20px;
    color: colors.$accent-300;
}

.contact-block-wrapper-desktop {
    padding-top: 1em;
    text-align: end;
}

::ng-deep .swiper-button-prev-desktop,
::ng-deep .swiper-button-prev-mobile,
::ng-deep .swiper-button-next-desktop,
::ng-deep .swiper-button-next-mobile {
    color: colors.$accent-300;
}

::ng-deep .swiper-pagination-bullet-active {
    background-color: colors.$accent-300;
}

.product-title-mobile {
    font-size: 25px;
    font-weight: 600;
}

.product-description-mobile {
    font-size: 15px;
    color: colors.$accent-300;
}

.product-tag-id {
    font-size: 15px;
    color: gray;
    line-height: 1rem;
}

.important-information {
    border: 1px solid rgb(223, 223, 223);

    mat-icon {
        font-size: 24px !important;
    }

    .important-info-text {
        font-size: 24px;
        line-height: 2rem;
        color: rgba(50, 50, 50, 0.8);
    }
}

ul.amenities-list-desktop {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
    list-style: none;
}

ul.amenities-list-mobile {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
}

ul.amenities-list-desktop li:before,
ul.amenities-list-mobile li:before {
    content: "✓ ";
}

::ng-deep .ng-image-slider,
::ng-deep .ng-image-slider .ng-image-slider-container .main {
    overflow: visible !important;
    height: 50px !important;

    img {
        object-fit: cover;
    }

    .selected-image {
        transform: translateY(-14px);
        transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
        img {
            border: 1px solid gray;
        }
    }
}

.amenity-icon-wrapper {
    display: inline;
    color: gray;
}

.section-label {
    font-size: 22px;
}

mat-card {
    border-radius: 12px;
}

.modal-close-btn-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

    .modal-close-btn {
        top: 0;
        right: 0;
        width: 100px;
        cursor: pointer;
        background: colors.$accent-300;
        border: 1px solid colors.$accent-300;
        border-radius: 15px;
    }
}
