<section *ngIf="isDesktop" class="pb-4 container d-none d-md-block listing-details-desktop">
    <div *ngIf="!listing.location" class="pt-4">
        <ng-container *ngTemplateOutlet="desktopLoadingPlaceholder"></ng-container>
    </div>

    <div *ngIf="listing.location" @listingAnim>
        <div class="row pb-4 listing-header">
            <div class="col-6">
                <h1>
                    <div class="product-title-desktop">
                        <ng-container *ngIf="translate.currentLang === 'vn'">
                            <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                            </ng-container>
                        </ng-container>
                        {{listing.location}}
                        <ng-container *ngIf="translate.currentLang === 'en'">
                            <ng-container [ngTemplateOutlet]="category_titlecase"
                                [ngTemplateOutletContext]="{listing: listing}">
                            </ng-container>
                        </ng-container>
                        <span class="ps-1" *ngIf="listing.subcategory">({{listing.subcategory | lowercase}})</span>
                    </div>
                    <div class="product-description-desktop">
                        <span>{{listing.price | currency: listing.currency : 'symbol' : '1.0-0'}}</span> |
                        <span *ngIf="listing.purpose === 'For Rent'">{{ 'listing_details.for_rent' | translate }}</span>
                        <span *ngIf="listing.purpose === 'For Sale'">{{ 'listing_details.for_sale' | translate }}</span>
                    </div>
                    <div class="product-tag-id">#{{listing.tagID}}</div>
                </h1>
            </div>
            <div class="col-6">
                <div class="contact-block-wrapper-desktop">
                    <label class="d-block pt-2 text-bold d-block">{{ 'listing_details.contact' | translate }}</label>

                    <span *ngIf="listing.contactNumber" [innerHtml]="listing.contactNumber | mask: '000 000 0000'">
                    </span>
                    <p *ngIf="!listing.contactNumber">{{ 'listing_details.default_contact_number' | translate }}</p>
                    <span class="ps-1 pe-1">-</span>
                    <span *ngIf="listing.contactPerson">{{listing.contactPerson}}</span>

                    <div *ngIf="listing.contactChannels?.length">{{ 'listing_details.available_on' | translate }}:
                        {{listing.contactChannels!.join(', ') }}
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>

        <div class="row listing-body">
            <div class="col-12 pb-4 listing-photos">
                <div class="pt-2" *ngIf="imageSources?.length && images.length && images[images.length - 1]">
                    <swiper id="desktopSwiper" #usefulSwiperDesktop [config]="swiperDesktopConfig">
                        <div class="swiper-wrapper">
                            <img *ngFor="let src of imageSources" class="swiper-slide swiper-image" [src]="src">
                        </div>
                        <div class="swiper-pagination swiper-pagination-desktop"></div>
                        <div class="swiper-button-next swiper-button-next-desktop"></div>
                        <div class="swiper-button-prev swiper-button-prev-desktop"></div>
                    </swiper>
                    <div class="row pt-4 d-flex">
                        <div class="col-12">
                            <ng-image-slider [images]="images" [manageImageRatio]="false" [imagePopup]="false"
                                [imageSize]="{height: '50px', width: '50px'}" [animationSpeed]="0.1"
                                (imageClick)="cycleToSlide(usefulSwiperDesktop ,$event)">
                            </ng-image-slider>
                        </div>
                        <div *ngIf="!allImagesLoaded" class="col-12 d-flex justify-content-center pt-1">
                            <button mat-raised-button (click)="getAllImages()" [disabled]="gettingAllImages">
                                <mat-icon color="accent">photo_library</mat-icon>
                                {{ 'listing_details.view_all' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="!(imageSources && imageSources!.length)">
                    <div class="ph-item">
                        <div class="ph-col-12">
                            <div class="ph-picture" style="height: 50vh"></div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>
        </div>

        <div class="important-infos row d-flex justify-content-center py-4">
            <div class="col-2 important-information">
                <div class="ps-1 pt-2 pb-4">
                    <mat-icon color="accent" inline="true">gite</mat-icon>
                </div>
                <div class="ps-1 pb-2 important-info-text">
                    <div>
                        <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                        </ng-container>
                    </div>
                    <span *ngIf="listing.subcategory">({{listing.subcategory | lowercase}})</span>
                </div>
            </div>
            <div *ngIf="listing.bedrooms" class="col-2 important-information">
                <div class="ps-1 pt-2 pb-4">
                    <mat-icon color="accent" inline="true">bed</mat-icon>
                </div>
                <div class="ps-1 pb-2 important-info-text">
                    <span>{{listing.bedrooms}} {{ 'listing_details.room' | translate }}<ng-container
                            *ngIf="listing.bedrooms! > 1 && translate.currentLang === 'en'">s</ng-container>
                    </span>
                </div>
            </div>
            <div *ngIf="listing.bathrooms" class="col-2 important-information">
                <div class="ps-1 pt-2 pb-4">
                    <mat-icon color="accent" inline="true">bathtub</mat-icon>
                </div>
                <div class="ps-1 pb-2 important-info-text">
                    <span>{{listing.bathrooms}} {{ 'listing_details.room' | translate }}<ng-container
                            *ngIf="listing.bathrooms! > 1 && translate.currentLang === 'en'">s</ng-container>
                    </span>
                </div>
            </div>
            <div class="col-2 important-information">
                <div class="ps-1 pt-2 pb-4">
                    <mat-icon color="accent" inline="true">aspect_ratio</mat-icon>
                </div>
                <div class="ps-1 pb-2 important-info-text">
                    <span>{{listing.propertySize}} (m<sup>2</sup>)</span>
                </div>
            </div>
            <div *ngIf="listing.view" class="col-2 important-information">
                <div class="ps-1 pt-2 pb-4">
                    <mat-icon color="accent" inline="true">panorama_horizontal_icon</mat-icon>
                </div>
                <div class="ps-1 pb-2 important-info-text">
                    <span>{{ 'listing_details.view' | translate }} {{listing.view | lowercase}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div *ngIf="listing?.amenities?.length" class="pb-4">
                    <label class="pt-2 pb-4 text-bold section-label">
                        <mat-icon fontSet="material-symbols-outlined"
                            style="color: rgb(235, 193, 6)">magic_button</mat-icon>
                        <span class="ps-2">{{ 'listing_upload.amenities' | translate }}</span>
                    </label>
                    <div class="ps-4">
                        <ng-container [ngTemplateOutlet]="listOfAmenities"
                            [ngTemplateOutletContext]="{ amenities: listing.amenities, isDesktop: true }"></ng-container>
                    </div>
                </div>

                <div class="pb-4">
                    <label class="pt-2 pb-4 text-bold section-label">
                        <mat-icon fontSet="material-symbols-outlined"
                            style="color: rgb(65, 87, 162)">pin_drop</mat-icon>
                        <span class="ps-2">{{ 'listing_details.address' | translate }}</span>
                    </label>
                    <p *ngIf="listing.address" [innerHtml]="listing.address"></p>
                </div>
            </div>
            <div class="col-1" style="display: flex; align-items: center">
                <mat-divider vertical="true" style="height: 75%;"></mat-divider>
            </div>
            <div class="col-8">
                <label class="pt-2 pb-4 text-bold section-label">
                    <mat-icon fontSet="material-symbols-outlined" style="color:rgb(0, 99, 97)">description</mat-icon>
                    <span class="ps-2">{{ 'listing_details.description' | translate }}</span></label>
                <p *ngIf="listing.description" [innerHtml]="listing.description">
                </p>
            </div>
        </div>
    </div>
</section>

<section *ngIf="!isDesktop" class="container d-md-none listing-details-mobile p-0">
    <div class="pt-4" *ngIf="!listing.location">
        <ng-container *ngTemplateOutlet="mobileLoadingPlaceholder"></ng-container>
    </div>

    <div *ngIf="listing.location" @listingMobileAnim>
        <div class="listing-header px-3">
            <div class="d-flex justify-content-between" style="vertical-align: middle;">
                <h1 class="pt-3">
                    <div class="product-title-mobile">
                        <ng-container *ngIf="translate.currentLang === 'vn'">
                            <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{listing: listing}">
                            </ng-container>
                        </ng-container>
                        {{listing.location}}
                        <ng-container *ngIf="translate.currentLang === 'en'">
                            <ng-container [ngTemplateOutlet]="category_titlecase"
                                [ngTemplateOutletContext]="{listing: listing}">
                            </ng-container>
                        </ng-container>
                        <span class="ps-1" *ngIf="listing.subcategory">({{listing.subcategory | lowercase}})</span>
                    </div>
                    <div class="product-description-mobile">
                        {{listing.price | currency: listing.currency : 'symbol' : '1.0-0'}} |
                        <ng-container *ngIf="listing.purpose === 'For Rent'">{{ 'listing_details.for_rent' | translate
                            }}
                        </ng-container>
                        <ng-container *ngIf="listing.purpose === 'For Sale'">{{ 'listing_details.for_sale' | translate
                            }}
                        </ng-container>
                    </div>
                </h1>
            </div>
        </div>

        <div class="listing-photos">
            <div class="pt-2 pb-2" *ngIf="!images?.length">
                <div class="ph-item">
                    <div class="ph-col-3">
                        <div class="ph-picture"></div>
                    </div>
                </div>
            </div>

            <div class="row pb-2 listing-images"
                *ngIf="imageSources?.length && images?.length && images[images.length - 1]">
                <div class="col-12">
                    <swiper id="mobileSwiper" #usefulSwiperMobile [config]="swiperMobileConfig">
                        <div class="swiper-wrapper">
                            <div *ngFor="let src of imageSources" class="swiper-slide">
                                <div class="swiper-zoom-container">
                                    <img [src]="src">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-mobile"></div>
                        <div class="swiper-button-next swiper-button-next-mobile"></div>
                        <div class="swiper-button-prev swiper-button-prev-mobile"></div>
                    </swiper>
                </div>
                <div class="col-12 pt-2 d-flex justify-content-center">
                    <button mat-raised-button color="default" *ngIf="!allImagesLoaded" [disabled]="gettingAllImages"
                        (click)="getAllImages(true);">
                        <mat-icon fontSet="material-symbols-outlined" color="accent">photo_library</mat-icon>
                        <span class="ps-2">{{ 'listing_details.view_all' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="listing-body mt-4 px-3">
            <div class="row">
                <div class="col-6 py-1">
                    <mat-icon color="accent">bed</mat-icon>
                    <span class="ps-2 pe-1 text-bold">{{ 'listing_details.bedrooms' | translate }}:</span>
                    {{listing.bedrooms}}
                </div>
                <div class="col-6 py-1">
                    <mat-icon color="accent">bathtub</mat-icon>
                    <span class="ps-2 pe-1 text-bold">{{ 'listing_details.bathrooms' | translate }}:</span>
                    {{listing.bathrooms}}
                </div>
                <div class="col-6 py-1">
                    <mat-icon color="accent">aspect_ratio</mat-icon>
                    <span class="ps-2 pe-1 text-bold">{{ 'listing_details.propertySize' | translate }}
                        (m<sup>2</sup>):</span>
                    {{listing.propertySize}}
                </div>
                <div class="col-6 py-1" *ngIf="listing.view">
                    <mat-icon color="accent">panorama_horizontal_icon</mat-icon>
                    <span class="ps-2 pe-1 text-bold">{{ 'listing_details.view' | translate }}:</span>
                    {{listing.view}}
                </div>
            </div>

            <mat-divider class="my-4 mx-4"></mat-divider>

            <div *ngIf="listing?.amenities?.length">
                <div class="section-label pb-4">
                    <mat-icon fontSet="material-symbols-outlined" style="color: rgb(235, 193, 6)">
                        magic_button
                    </mat-icon>
                    <span class="ps-3 text-bold">{{ 'listing_upload.amenities' | translate }}</span>
                </div>
                <ng-container [ngTemplateOutlet]="listOfAmenities"
                    [ngTemplateOutletContext]="{amenities: listing.amenities, isDesktop: false}"></ng-container>
            </div>

            <mat-divider class="my-4 mx-4"></mat-divider>

            <div>
                <div class="section-label pb-4">
                    <mat-icon fontSet="material-symbols-outlined" style="color: rgb(65, 87, 162)">pin_drop</mat-icon>
                    <span class="ps-3 text-bold">{{ 'listing_details.address' | translate }}</span>
                </div>
                <p *ngIf="listing.address" [innerHtml]="listing.address"></p>
            </div>

            <mat-divider class="my-4 mx-4"></mat-divider>

            <div>
                <div class="section-label pb-4">
                    <mat-icon fontSet="material-symbols-outlined" style="color:rgb(0, 99, 97)">description</mat-icon>
                    <span class="ps-3 text-bold">{{ 'listing_details.description' | translate }}</span>
                </div>
                <p *ngIf="listing.description" [innerHtml]="listing.description"></p>
            </div>

            <mat-divider class="my-4 mx-4"></mat-divider>

            <div class="pb-4">
                <div class="section-label pb-4">
                    <mat-icon fontSet="material-symbols-outlined"
                        style="color: rgb(229, 144, 44)">contact_phone</mat-icon>
                    <span class="ps-3 text-bold">{{ 'listing_details.contact' | translate }}</span>
                </div>

                <div class="pb-2">
                    <a mat-stroked-button [href]="contactNumberUrl" style="border-radius: 35px">
                        <mat-icon color="accent">phone_in_talk</mat-icon>
                    </a>
                    <span class="ps-2"></span>
                    <span *ngIf="listing.contactNumber" [innerHtml]="listing.contactNumber | mask: '000 000 0000'">
                    </span>
                    <span *ngIf="!listing.contactNumber">{{ 'listing_details.default_contact_number' | translate
                        }}</span>
                    <span class="ps-1" *ngIf="listing.contactPerson">- {{listing.contactPerson}}</span>
                </div>
                <div *ngIf="listing.contactChannels?.length">
                    <span class="pe-1">{{ 'listing_details.available_on' | translate }}:</span>
                    <span>{{listing.contactChannels!.join(', ') }}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #category let-listing="listing">
    <span *ngIf="listing.category === 'Apartment'">{{ 'property_category.apartment' | translate
        }}</span>
    <span *ngIf="listing.category === 'Villa'">{{ 'property_category.villa' | translate
        }}</span>
    <span *ngIf="listing.category === 'Townhouse'">{{ 'property_category.townhouse' | translate
        }}</span>
    <span *ngIf="listing.category === 'Commercial'">{{ 'listing_details.commercial' |
        translate
        }}</span>
</ng-template>

<ng-template #category_titlecase let-listing="listing">
    <span *ngIf="listing.category === 'Apartment'">{{ 'property_category.apartment' | translate
        | titlecase }}</span>
    <span *ngIf="listing.category === 'Villa'">{{ 'property_category.villa' | translate
        | titlecase }}</span>
    <span *ngIf="listing.category === 'Townhouse'">{{ 'property_category.townhouse' | translate
        | titlecase }}</span>
    <span *ngIf="listing.category === 'Commercial'">{{ 'listing_details.commercial' |
        translate
        | titlecase }}</span>
</ng-template>

<ng-template #desktopLoadingPlaceholder>
    <div class="ph-row pb-4">
        <div class="ph-col-4 big"></div>
        <div class="ph-col-6 empty"></div>
        <div class="ph-col-2"></div>

        <div class="ph-col-2 big"></div>
        <div class="ph-col-8 empty"></div>
        <div class="ph-col-2"></div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="ph-item">
                <div class="ph-picture" style="height: 50vh"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="ph-row">
                <div class="ph-col-12 big"></div>
                <div class="ph-col-6 big"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 empty"></div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #mobileLoadingPlaceholder>
    <div class="ph-row px-3 pb-2">
        <div class="ph-col-6 big"></div>
        <div class="ph-col-6 big empty"></div>
        <div class="ph-col-2 small"></div>
    </div>
    <div class="px-3 ph-item">
        <div class="ph-col-3">
            <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-4 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-4 big"></div>

                <div class="ph-col-4 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-4 big"></div>

                <div class="ph-col-12 empty big"></div>

                <div class="ph-col-6 big"></div>
                <div class="ph-col-6 empty big"></div>
                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 empty big"></div>
                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 empty big"></div>

                <div class="ph-col-12 empty big"></div>

                <div class="ph-col-6 big"></div>
                <div class="ph-col-6 empty big"></div>
                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 empty big"></div>
                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 empty big"></div>

                <div class="ph-col-12 empty big"></div>

                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 big"></div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #listOfAmenities let-amenities="amenities" let-isDesktop="isDesktop">
    <div class="row">
        <div *ngFor="let amenity of amenities; let i = index" [class.col-12]="isDesktop" [class.col-6]="!isDesktop"
            class="pb-2">
            <mat-divider class="pb-2" inset="true" *ngIf="i > 0 && isDesktop"></mat-divider>
            <ng-container *ngIf="amenity === 'amenities.gym'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">fitness_center</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.pool'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">pool</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.conve_stores'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">local_convenience_store</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.malls'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">local_mall</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.groceries'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">shopping_cart</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.schools'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">school</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.hospitals'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">medication_liquid</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.parks'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">nature</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.transit'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">bus_alert</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.quiet'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">dark_mode</mat-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="amenity === 'amenities.parking'">
                <div class="amenity-icon-wrapper">
                    <mat-icon fontSet="material-icons-outlined">local_parking</mat-icon>
                </div>
            </ng-container>
            <span class="ps-3 text-bold">
                {{amenity | translate}}
            </span>
        </div>
    </div>
</ng-template>