@use "src/app/styles/colors" as colors;

.swiper-image {
    object-fit: contain;
    width: 100%;
    height: 400px;
}

.listing-details-desktop,
.listing-details-mobile {
    min-height: 90vh;
    height: max-content;
}

.product-title-desktop {
    padding-top: 1rem;
    font-size: 30px;
    font-weight: 600;
}

.product-description-desktop {
    font-size: 20px;
    color: colors.$accent-300;
}

.contact-block-wrapper-desktop {
    padding-top: 1em;
    text-align: end;
}

::ng-deep .swiper-button-prev,
::ng-deep .swiper-button-next {
    color: colors.$accent-300;
}

::ng-deep .swiper-pagination-bullet-active {
    background-color: colors.$accent-300;
}

.product-title-mobile {
    font-size: 25px;
    font-weight: 600;
}

.product-description-mobile {
    font-size: 15px;
    color: gray;
}

.product-tag-id {
    font-size: 15px;
    color: gray;
    line-height: 1rem;
}

.important-information {
    border: 1px solid rgb(223, 223, 223);

    mat-icon {
        font-size: 24px !important;
    }

    .important-info-text {
        font-size: 24px;
        line-height: 2rem;
        color: rgba(50, 50, 50, 0.8);
    }
}

ul.amenities-list-desktop {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style: none;
}

ul.amenities-list-mobile {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
}

ul.amenities-list-desktop li:before,
ul.amenities-list-mobile li:before {
    content: "✓ ";
}

::ng-deep .ng-image-slider,
::ng-deep .ng-image-slider .ng-image-slider-container .main {
    height: 50px !important;
}
