<section *ngIf="listing" class="listing-detail-dialog">
    <div class="d-flex justify-content-between" style="vertical-align: middle;">
        <button mat-icon-button color="accent" (click)="dialogRef.close();">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span class="h3 pt-2">{{listing.location}}</span>
    </div>
    <hr>

    <div class="row pb-2 listing-images" *ngIf="listing.imageSources?.length">
       <ng-image-slider [images]="images"></ng-image-slider>
    </div>

    <p>
        The unanimous Declaration of the thirteen united States of America, When in the Course of human events, it
        becomes necessary for one people to dissolve the political bands which have connected them with another, and
        to assume among the powers of the earth, the separate and equal station to which the Laws of Nature and of
        Nature's God entitle them, a decent respect to the opinions of mankind requires that they should declare the
        causes which impel them to the separation.
    </p>
    <p>
        We hold these truths to be self-evident, that all men are created equal, that they are endowed by their
        Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.
    </p>


    <div class="d-flex justify-content-end">
        <button mat-icon-button color="accent" class="pe-4">
            <mat-icon>phone_in_talk</mat-icon>
        </button>
        <button mat-icon-button color="accent">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</section>