<section>
    <mat-card>
        <mat-card-title>
            <div class="d-flex justify-content-between">
                <span class="h3">Property Name</span>
            </div>
            <hr>
        </mat-card-title>
        <mat-card-content>
            <div>Property Images</div>
            <div style="height: 400px">Property Descriptions</div>
        </mat-card-content>
        <mat-card-footer>
            <div class="d-flex justify-content-end">
                <button mat-icon-button color="accent">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </mat-card-footer>
    </mat-card>
</section>