<div class="page-background">
    <div class="page-title ms-5 mb-3">
        {{ 'project_showcase.projects' | translate }}
    </div>

    <div class="page-descr ms-5 mb-3">
        {{ 'project_showcase.page_descr' | translate }}
    </div>

    <div class="project-showcase-page pt-2 mx-2">
        <div class="all-projects">
            <div class="project-info-wrapper" *ngFor="let project of projects">
                <ng-container [ngTemplateOutlet]="otherProjectTpl"
                    [ngTemplateOutletContext]="{ otherProject: project }">
                </ng-container>
            </div>
        </div>

        <div class="navigation">
            <button class="nav-btn" mat-icon-button [class.mat-elevation-z1]="currentProjectIdx !== 0"
                [disabled]="currentProjectIdx === 0" (click)="scrollLeft()">
                <mat-icon color="accent">arrow_back</mat-icon>
            </button>
            <button class="nav-btn " mat-icon-button
                [class.mat-elevation-z1]="currentProjectIdx !== projects.length - 1"
                [disabled]="currentProjectIdx === projects.length - 1" (click)="scrollRight()">
                <mat-icon color="accent">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>

<ng-template #otherProjectTpl let-otherProject="otherProject">
    <div class="project-info">
        <div class="background-image mat-elevation-z3" (click)="viewProjectDetails(otherProject.id!)"
            [style.background-image]="projectCoverImgUrls.get(otherProject.id)">
            <div class="d-none h1 project-name blur-background">
                {{otherProject.name}}
            </div>

            <div class="d-none project-description blur-background">
                {{otherProject.description}}
            </div>
        </div>
        <div class="d-none pt-2 text-bold project-name-alt">{{otherProject.name}}</div>
    </div>
</ng-template>