.listing-edit-select-a-listing-text {
    color: #dadce0;
    font: 50px/1.25 Google Sans, Helvetica Neue, sans-serif;
    margin-bottom: 24px;
    margin-top: 24px;
}

.listing-edit-list-view,
.listing-edit-detail-view {
    height: 60vh;
    overflow: auto;
}

.add-listing-btn {
    height: 6rem;
    width: 100%;
}
