<section class="d-none d-md-block home-background">
    <div class="backdrop">
        <div style="height: 20vh;"></div>
        <div class="row pb-2 d-flex justify-content-center">
            <mat-form-field color="accent" class="col-2">
                <mat-label>{{ 'search_bar.purpose' | translate }}</mat-label>
                <mat-select id="purpose" [(ngModel)]="searchCriteria.purpose">
                    <mat-option value="For Rent">{{ 'search_bar.for_rent' | translate }}</mat-option>
                    <mat-option value="For Sale">{{ 'search_bar.for_sale' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field color="accent" class="col-2" *ngIf="searchCriteria.purpose">
                <mat-label>Phân loại</mat-label>
                <mat-select id="category" [(ngModel)]="searchCriteria.category" (selectionChange)="onCategorySelect()">
                    <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                    <mat-option value=" Apartment">{{ 'search_bar.apartment' | translate }}</mat-option>
                    <mat-option value="Villa">{{ 'search_bar.villa' | translate }}</mat-option>
                    <mat-option value="Townhouse">{{ 'search_bar.townhouse' | translate }}</mat-option>
                    <mat-option value="Commercial">{{ 'search_bar.commercial' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container *ngIf="searchCriteria.category && searchCriteria.category !== 'Commercial'">
                <mat-form-field color="accent" class="col-1">
                    <mat-label>Số phòng ngủ</mat-label>
                    <input matInput type="text" [(ngModel)]="searchCriteria.bedrooms" />
                </mat-form-field>
                <mat-form-field color="accent" class="col-1">
                    <mat-label>Số phòng tắm</mat-label>
                    <input matInput type="text" [(ngModel)]="searchCriteria.bathrooms" />
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="searchCriteria.category && searchCriteria.category === 'Commercial'">
                <mat-form-field color="accent" class="col-2">
                    <mat-label>{{ 'search_bar.property_sizes' | translate }} (m<sup>2</sup>)</mat-label>
                    <mat-select id="propertySizes" [(ngModel)]="searchCriteria.propertySize">
                        <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                        <mat-option *ngFor="let type of propertySizes | keyvalue" value="{{type.key}}">
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <button class="col-2" mat-button type="submit" (click)="getListings()">
                Tìm <mat-icon>search</mat-icon>
            </button>
        </div>

        <div class="row d-flex ms-2 pb-2 justify-content-center" *ngIf="!featuredListings?.length">
            <div class="ms-2 col-3 ph-item" *ngFor="let i of numberOfMockListings">
                <div class="ph-col-3">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                        <div class="ph-col-6 big"></div>
                        <div class="ph-col-4 empty big"></div>
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex ms-2 pb-4 justify-content-center">
            <div *ngFor="let result of featuredListings" class="col-3 result-card-wrapper"
                (click)="getListing(result.id)">
                <mat-card class="mt-1 result-card">
                    <img mat-card-image height="150px" *ngIf="result.coverImagePath" [src]="result.coverImagePath">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-12 pb-1" style="line-height: 2; vertical-align: middle;">
                                <span class="text-bold font-medium" *ngIf="result.price">{{result.price | currency:
                                    result.currency : 'symbol' : '1.0-0'}}</span>
                                <div class="d-inline" style="float: right;" *ngIf="result.bedrooms && result.bathrooms">
                                    <mat-icon color="accent">bed</mat-icon>
                                    <span class="ps-2 pe-4">{{result.bedrooms}}</span>
                                    <mat-icon color="accent">bathtub</mat-icon>
                                    <span class="ps-2">{{result.bathrooms}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div *ngIf="result.category && result.location">
                                    <span *ngIf="result.category === 'Apartment'">{{ 'search_results.apartment' |
                                        translate}}</span>
                                    <span *ngIf="result.category === 'Villa'">{{ 'search_results.villa' |
                                        translate}}</span>
                                    <span *ngIf="result.category === 'Townhouse'">{{ 'search_results.townhouse' |
                                        translate}}</span>
                                    <span *ngIf="result.category === 'Commercial'">{{ 'search_results.commercial'
                                        |translate}}</span>
                                    <span class="ps-1 pe-1">{{result.location}}</span>
                                    <span *ngIf="result.view">{{ 'search_results.view' | translate | lowercase }}
                                        {{result.view | lowercase }}
                                    </span>
                                </div>
                                <div class="pb-2 result-card-address" *ngIf="result.address">
                                    <span>{{result.address}}</span>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a class="view-all" href="/listings">Xem toàn bộ sản phẩm</a>
        </div>

    </div>
</section>

<section class="d-md-none background-mobile">
    <div class="container-flex pt-2 ms-4 me-4 company-name-block">
        <h1 class="page-title company-name">
            <span class="d-block">{{ 'home.anh_nguyen' | translate }}</span>
            <span>{{ 'home.real_estate' | translate }}</span>
        </h1>
    </div>
    <div class="backdrop-mobile" (click)="goToListings()">
        <div class="ps-4">
            <a href="/listings" class="browse-listing-link">
                <p class="browse-listing-text">
                    {{ 'home.browse_listings' | translate }}
                    <mat-icon>trending_flat</mat-icon>
                </p>
            </a>
        </div>
    </div>
</section>

<app-footer></app-footer>