.company-name-block {
    height: 60vh;
}

.company-name {
    color: darkslategray;
    font-size: 3em;
    line-height: 1em;
}

.browse-listing-link {
    color: gray;
    text-decoration: none;
}

.browse-listing-text {
    font-size: 24px;
    padding-top: 25%;
}
