<section class="d-none d-md-block home" *ngIf="isDesktop">
    <div class="home-background">
        <div class="home-title pt-10 pb-10">
            {{ 'home.find_your_home' | translate }}
        </div>
        <div @searchBarAnim class="row d-flex justify-content-center search-bar">
            <mat-card class="col-8 mat-elevation-z3">
                <mat-card-content>
                    <div class="row d-flex justify-content-center">
                        <mat-form-field color="accent" class="col-3">
                            <mat-label>{{ 'search_bar.purpose' | translate }}</mat-label>
                            <mat-select id="purpose" [(ngModel)]="searchCriteria.purpose">
                                <mat-option value="For Rent">{{
                                    'search_bar.for_rent' | translate }}</mat-option>
                                <mat-option value="For Sale">{{
                                    'search_bar.for_sale' | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field color="accent" class="col-3" *ngIf="searchCriteria.purpose">
                            <mat-label>{{ 'search_bar.category' | translate }}</mat-label>
                            <mat-select id="category" [(ngModel)]="searchCriteria.category"
                                (selectionChange)="onCategorySelect()">
                                <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                                <mat-option value="Apartment">{{ 'property_category.apartment' | translate }}
                                </mat-option>
                                <mat-option value="Villa">{{ 'property_category.villa' | translate }}</mat-option>
                                <mat-option value="Townhouse">{{ 'property_category.townhouse' | translate }}
                                </mat-option>
                                <mat-option value="Commercial">{{ 'property_category.commercial' | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <ng-container *ngIf="searchCriteria.purpose">
                            <mat-form-field color="accent" class="col-3">
                                <mat-label>{{ 'search_bar.property_sizes' | translate }} (m<sup>2</sup>)</mat-label>
                                <mat-select id="propertySizes" [(ngModel)]="searchCriteria.propertySize">
                                    <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                                    <mat-option *ngFor="let type of propertySizes | keyvalue" value="{{type.key}}">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>

                        <button color="accent" class="col-2 mt-3" mat-raised-button (click)="getListings()">
                            <mat-icon>search</mat-icon>
                            <span>{{'home.find' | translate}}</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="project-showcase">
        <project-showcase></project-showcase>
    </div>

    <div @featuredListingsAnim>
        <div class="featured-listings-container">
            <div class="row d-flex pb-2 justify-content-center mock-listings" *ngIf="!featuredListings?.length">
                <div class="ms-2 col-3 ph-item" *ngFor="let i of numberOfMockListings">
                    <div class="ph-col-3">
                        <div class="ph-picture"></div>
                        <div class="ph-row">
                            <div class="ph-col-6 big"></div>
                            <div class="ph-col-4 empty big"></div>
                            <div class="ph-col-2 big"></div>
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                            <div class="ph-col-6"></div>
                            <div class="ph-col-6 empty"></div>
                            <div class="ph-col-12"></div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="featuredListings?.length">
                <div class="featured-listings">
                    <div class="featured-listings-header ms-5 mb-3">
                        <div class="content">{{ 'home.featured' | translate}}</div>
                    </div>

                    <div class="row mx-1 mb-3">
                        <div *ngFor="let listing of featuredListings" class="col-3 result-card-wrapper pt-2 pb-2">
                            <listing-card [listing]="listing" (delete)="removeListing(listing)"></listing-card>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mb-4">
                        <a mat-raised-button color="accent" [routerLink]="['/listings']">{{ 'home.view_all' |
                            translate
                            }}</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<section class="d-block d-md-none" *ngIf="!isDesktop">
    <div class="home-background-mobile">
        <div class="home-title ms-2 pt-5">
            {{ 'home.find_your_home' | translate }}
        </div>

        <div @searchBarAnim class="ms-2 me-2 search-bar" style="padding-top: 10vh; min-height: 60vh">
            <mat-card>
                <mat-card-content>
                    <div class="row d-flex justify-content-center pt-4 pb-2 rent-or-sale">
                        <button class="col-5" mat-button [class.btn-active]="searchCriteria.purpose === 'For Sale'"
                            (click)="findListingsForSale()">
                            <span class="action-btn-text-mobile">{{ 'home.buy' | translate }}</span>
                        </button>
                        <div class="col-1 pt-2 d-flex justify-content-center">
                            <span class="divider-mobile"> / </span>
                        </div>
                        <button class="col-5" mat-button [class.btn-active]="searchCriteria.purpose === 'For Rent'"
                            (click)="findListingsForRent()">
                            <span class="action-btn-text-mobile">{{ 'home.rent' | translate }}</span>
                        </button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12">
                            <mat-form-field color="accent">
                                <mat-label>{{ 'home.category' | translate }}</mat-label>
                                <mat-select id="category" [(ngModel)]="searchCriteria.category"
                                    (ngModelChange)="getListings()">
                                    <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                                    <mat-option value="Apartment">{{ 'property_category.apartment' | translate }}
                                    </mat-option>
                                    <mat-option value="Villa">{{ 'property_category.villa' | translate }}</mat-option>
                                    <mat-option value="Townhouse">{{ 'property_category.townhouse' | translate }}
                                    </mat-option>
                                    <mat-option value="Commercial">{{ 'property_category.commercial' | translate }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="project-showcase">
        <project-showcase></project-showcase>
    </div>

    <div @featuredListingsAnim>
        <div class="featured-listings-container">
            <div class="row d-flex pb-2 justify-content-center mock-listings" *ngIf="!featuredListings?.length">
                <div class="ms-2 col-12 ph-item">
                    <div class="ph-col-3">
                        <div class="ph-picture"></div>
                        <div class="ph-row">
                            <div class="ph-col-6 big"></div>
                            <div class="ph-col-4 empty big"></div>
                            <div class="ph-col-2 big"></div>
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                            <div class="ph-col-6"></div>
                            <div class="ph-col-6 empty"></div>
                            <div class="ph-col-12"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="featuredListings?.length">
                <div class="featured-listings-mobile">
                    <div class="row p-4">
                        <div class="col-12 d-flex justify-content-start featured-listings-header-mobile">
                            {{ 'home.featured' | translate }}
                        </div>

                        <div class="col-12 pt-2">
                            <swiper #usefulSwiper [config]="config">
                                <div class="swiper-wrapper">
                                    <div *ngFor="let listing of featuredListings" class="swiper-slide p-1">
                                        <listing-card [listing]="listing" (delete)="removeListing(listing)">
                                        </listing-card>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </swiper>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center pb-4">
                        <a mat-raised-button color="accent" [routerLink]="['/listings']">{{ 'home.view_all' |
                            translate
                            }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>