@use "src/app/styles/colors" as colors;

.browse-listing-link {
    color: gray;
    text-decoration: none;
}

.browse-listing-text {
    font-size: 24px;
    padding-top: 25%;
}

.home {
    min-height: 90vh;
    height: fit-content;
    padding-bottom: 45vh;
    background: white;
}

.home-background-mobile {
    background-image: url("/assets/images/background_home_mobile.jpeg");
    background-size: cover;
    background-position: 60% 0%;
    position: relative;
    height: 90vh;
}

.home-background {
    background-image: url("/assets/images/background_home.jpeg");
    background-size: cover;
    background-position: 0% 50%;
    height: 90vh;
}

.mock-listings {
    margin-left: 10vw;
    margin-right: 10vw;
}

.featured-listings {
    margin-left: 10vw;
    margin-right: 10vw;
    background: white;
    border-radius: 10px;
}

.rent-or-sale {
    margin-left: 20px;
    margin-right: 20px;
}

.backdrop {
    backdrop-filter: blur(10px);
    background: transparent;
    height: fit-content;
}

.backdrop-mobile {
    backdrop-filter: blur(10px);
}

.result-card-wrapper:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
}

.divider-mobile,
.action-btn-text-mobile {
    font-size: x-large;
    color: rgb(62, 61, 61);
}

.btn-active {
    transform: translateY(-4px);
    span {
        border-bottom: 10px solid #000;
        padding-bottom: 3px;
    }
}

::ng-deep .swiper-button-prev,
::ng-deep .swiper-button-next {
    color: colors.$accent-300;
}

::ng-deep .swiper-pagination-bullet-active {
    background-color: colors.$accent-300;
}

.featured-listings-header {
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.5rem;
}

.mat-divider {
    border-top-color: colors.$accent-100;
}

.ribbon {
    //https://codepen.io/crayon-code/pen/vYXpmPB
    position: relative;

    $default-right: 0px;
    $default-top: -25px;
    $default-color: colors.$accent-300;

    right: var(--right, $default-right);
    top: var(--top, $default-top);

    > .content {
        color: white;
        font-size: 1.25rem;
        text-align: center;
        font-weight: 400;
        background: var(--color, $default-color) linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
        padding: 8px 8px;
        border-radius: 0px 0px 5px 5px;

        width: fit-content;
        min-height: 2rem;
    }
}