@use "src/app/styles/colors" as colors;

.company-name {
    color: darkslategray;
    font-size: 3em;
    line-height: 1em;
}

.browse-listing-link {
    color: gray;
    text-decoration: none;
}

.browse-listing-text {
    font-size: 24px;
    padding-top: 25%;
}

.home {
    min-height: 90vh;
    height: fit-content;
    padding-bottom: 45vh;
    background: white;
}

.home-background {
    background-image: url('/assets/images/background_home.jpeg');
    background-size: cover;
    background-position: 0% 40%;
    height: 50vh;
}

.featured-listings {
    margin-left: 10vw;
    margin-right: 10vw;
    background: white;
    border-radius: 10px;
}

.backdrop {
    backdrop-filter: blur(30px);
}

.backdrop-mobile {
    backdrop-filter: blur(10px);
}

.result-card-wrapper:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
}

.divider-mobile,
.action-btn-text-mobile {
    font-size: x-large;
    color: gray;
}

.btn-active {
    transform: translateY(-4px);
    span {
        border-bottom: 10px solid #000;
        padding-bottom: 3px;
    }
}
