@use "src/app/styles/colors" as colors;

.controls-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    backdrop-filter: blur(10px);
    border-radius: 6px;
}

.new-activity-panel-class {
    width: fit-content;
}

.card-title {
    color: colors.$accent;
    font-size: 24px;

    .card-subtitle {
        color: rgb(104, 104, 104);
        font-size: 14px;
    }
}

.content-label {
    font-size: 0.75rem;
    color: gray;
}
