<section #aboutUsDesktop class="container-flex background-mobile d-none d-sm-block">
    <div class="backdrop ps-3 pe-3" style="height: 90vh">
        <h1 class="page-title" style="color: darkslategray">About Us</h1>
        <hr>
        <div class="row pb-4">
            <span class="d-block col-4 pt-4 pb-4" style="font-size: 20px; color: gray; line-height: 1em;">
                {{thisYear - startYear}}+ Years
            </span>
            <div class="col-8">
                <span class="d-block pb-2" style="color: darkslategray">
                    Founded in 2008, we are proud to be one of the longest-serving real-estate brokerages in District 7, Ho Chi Minh City.
                </span>
            </div>
        </div>
        <div class="row">
            <span class="d-block col-4 pt-4 pb-4" style="font-size: 20px; color: gray; line-height: 1em;">
                1000+ Customers Annually
            </span>
            <div class="col-8">
                <span class="d-block" style="color: darkslategray">
                    We have served over ten thousand clients, with unwavering
                    commitment to customer satisfactions.
                </span>
            </div>
        </div>
        <hr>
    </div>
</section>

<section #aboutUsMobile class="container-flex background-mobile d-sm-none">
    <div class="backdrop ps-3 pe-3" style="height: 90vh">
        <h1 class="page-title" style="color: darkslategray">About Us</h1>
        <hr>
        <div class="row pb-4">
            <span class="d-block col-6 pt-4 pb-4" style="font-size: 36px; color: gray; line-height: 1em;">
                {{thisYear - startYear}}+ Years
            </span>
            <div class="col-6 my-auto">
                <span style="color: darkslategray">
                    Founded in 2008, we are proud to be one of the longest-serving real-estate brokerages in District 7, 
                    Ho Chi Minh City.
                </span>
            </div>
        </div>
        <div class="row">
            <span class="d-block col-6 pt-4 pb-4" style="font-size: 36px; color: gray; line-height: 1em;">
                1000+ Clients Annually
            </span>
            <div class="col-6 my-auto">
                <span style="color: darkslategray">
                    We are committed to providing excellent services, for each and every single one of our clients.
                </span>
            </div>
        </div>
        <hr>
    </div>
</section>