<section #aboutUsDesktop class="container-flex background-mobile d-none d-sm-block">
    <div class="backdrop ps-3 pe-3" style="height: 90vh">
        <h1 class="page-title" style="color: darkslategray">About Us</h1>
        <hr>
        <div class="row pb-4">
            <span class="d-block col-4 pt-4 pb-4 ps-4 topic">
                {{thisYear - startYear}}+ Years
            </span>
            <div class="col-8">
                <span class="d-block pt-4" style="color: darkslategray">
                    Founded in 2008, we are proud to be one of the longest-serving real-estate brokerages in District 7,
                    Ho Chi Minh City.
                </span>
            </div>
        </div>
        <div class="row">
            <span class="d-block col-4 pt-4 pb-4 ps-4 topic">
                1000+ Customers Annually
            </span>
            <div class="col-8">
                <span class="d-block pt-4" style="color: darkslategray">
                    We have served over ten thousand clients, with unwavering
                    commitment to customer satisfactions.
                </span>
            </div>
        </div>

        <h1 class="page-title" style="color: darkslategray">Contact Us</h1>
        <hr>
        <div>
            <span class="d-block">
                168 Ha Huy Tap, Tan Phong Ward, District 7, Ho Chi Minh City
            </span>
            <span class="d-block">
                Tel: +84 91 378 0858
            </span>
        </div>
    </div>
    <app-footer></app-footer>
</section>

<section #aboutUsMobile class="container-flex background-mobile d-sm-none">
    <div class="backdrop ps-3 pe-3" style="height: 90vh">
        <h1 class="page-title" style="color: darkslategray">About Us</h1>
        <hr>
        <div class="row pb-4">
            <span class="d-block col-6 pt-4 pb-4 topic-mobile">
                {{thisYear - startYear}}+ Years
            </span>
            <div class="col-6 my-auto">
                <span style="color: darkslategray">
                    Founded in 2008, we are proud to be one of the longest-serving real-estate brokerages in District 7,
                    Ho Chi Minh City.
                </span>
            </div>
        </div>
        <div class="row">
            <span class="d-block col-6 pt-4 pb-4 topic-mobile">
                1000+ Clients Annually
            </span>
            <div class="col-6 my-auto">
                <span style="color: darkslategray">
                    We are committed to providing excellent services, for each and every single one of our clients.
                </span>
            </div>
        </div>
        <hr>
    </div>
</section>