<section #aboutUsDesktop class="container-flex background-mobile d-none d-sm-block">
    <div class="backdrop ps-3 pe-3" style="height: 90vh">
        <h1 class="page-title" style="color: darkslategray">{{ 'about_us.about_us' | translate }}</h1>
        <hr>
        <div class="row pb-4">
            <span class="d-block col-4 pt-4 pb-4 ps-4 topic">
                {{ 'about_us.company_intro_1_title' | translate: {tenure: tenure} }}
            </span>
            <div class="col-8">
                <span class="d-block pt-4" style="color: darkslategray">
                    {{ 'about_us.company_intro_1' | translate }}
                </span>
            </div>
        </div>
        <div class="row">
            <span class="d-block col-4 pt-4 pb-4 ps-4 topic">
                {{ 'about_us.company_intro_2_title' | translate }}
            </span>
            <div class="col-8">
                <span class="d-block pt-4" style="color: darkslategray">
                    {{ 'about_us.company_intro_2' | translate }}
                </span>
            </div>
        </div>

        <h1 class="page-title pt-5" style="color: darkslategray">{{ 'about_us.contact_us' | translate }}</h1>
        <hr>
        <div>
            <span class="d-block" style="color: darkslategray">
                {{ 'about_us.office_address' | translate }}
            </span>
            <span class="d-block" style="color: darkslategray">
                {{ 'about_us.first_contact' | translate }}
            </span>
        </div>
    </div>
    <app-footer></app-footer>
</section>

<section #aboutUsMobile class="container-flex background-mobile d-sm-none">
    <div class="backdrop ps-3 pe-3" style="height: 90vh">
        <h1 class="page-title" style="color: darkslategray">{{ 'about_us.about_us' | translate }}</h1>
        <hr>
        <div class="row pb-4">
            <span class="d-block col-6 pt-4 pb-4 topic-mobile">
                {{ 'about_us.company_intro_1_title' | translate: {tenure: tenure} }}
            </span>
            <div class="col-6 my-auto">
                <span style="color: darkslategray">
                    {{ 'about_us.company_intro_1' | translate }}
                </span>
            </div>
        </div>
        <div class="row">
            <span class="d-block col-6 pt-4 pb-4 topic-mobile">
                {{ 'about_us.company_intro_2_title' | translate }}
            </span>
            <div class="col-6 my-auto">
                <span style="color: darkslategray">
                    {{ 'about_us.company_intro_2' | translate }}
                </span>
            </div>
        </div>


        <h1 class="page-title pt-5" style="color: darkslategray">{{ 'about_us.contact_us' | translate }}</h1>
        <hr>
        <div>
            <span class="d-block" style="color: darkslategray">
                {{ 'about_us.office_address' | translate }}
            </span>
            <span class="d-block" style="color: darkslategray">
                {{ 'about_us.first_contact' | translate }}
            </span>
        </div>
    </div>
    <app-footer></app-footer>
</section>