<section *ngIf="property">
    <h1>{{property.name}}</h1>
    <mat-divider></mat-divider>

    <div class="pt-2">
        <div [innerHtml]="property.description"></div>
    </div>

    <div class="pt-5">
        <div class="h5">Hoạt động</div>
        <mat-divider class="pb-2"></mat-divider>
        <activities-tree-view [activities]="property.activities!" (download)="downloadDoc($event)"></activities-tree-view>
    </div>

    <div class="pt-5">
        <div class="h5">Giấy tờ liên quan</div>
        <mat-divider class="pb-2"></mat-divider>
        <button mat-button class="d-block pb-2" (click)="downloadDoc(doc)" *ngFor="let doc of property.documents">
            <div class="d-inline">
                <mat-icon color="accent">download</mat-icon> {{doc.displayName}}
            </div>
        </button>
    </div>
</section>