.result-card {
    background-color: white;

    .result-card-address {
        max-height: 6em;
        overflow: hidden;
    }
}

.result-preview-img {
    max-width: 100%;
    object-fit: contain;
}
