<div *ngIf="showSpinner" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
</div>
<section #desktopUploadView class="container pt-2 d-none d-lg-block" *ngIf="!showSpinner">
    <app-spinner></app-spinner>
    <div class="row">
        <div class="col-12">
            <h1 class="h3">
                {{modalTitle}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>{{ 'listing_upload.purpose' | translate }}</mat-label>
                <mat-select [(ngModel)]="listing.purpose" required (selectionChange)="onPurposeSelect($event)">
                    <mat-option value='For Rent'>{{ 'listing_upload.for_rent' | translate }}</mat-option>
                    <mat-option value='For Sale'>{{ 'listing_upload.for_sale' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>{{ 'listing_upload.property_type' | translate }}</mat-label>
                <mat-select id="propertyType" [(ngModel)]="listing.propertyType" required>
                    <mat-option value="Apartment">{{ 'listing_upload.apartment' | translate }}</mat-option>
                    <mat-option value="Villa">{{ 'listing_upload.villa' | translate }}</mat-option>
                    <mat-option value="Townhouse">{{ 'listing_upload.townhouse' | translate }}</mat-option>
                    <mat-option value="Commercial">{{ 'listing_upload.commercial' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>{{ 'listing_upload.location' | translate }}</mat-label>
                <input id="locations" matInput type="text" [matAutocomplete]="locationsAuto"
                    [(ngModel)]="listing.location" required>
                <mat-autocomplete #locationsAuto="matAutocomplete">
                    <mat-option *ngFor="let location of locations" value="{{location}}">{{location}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>{{ 'listing_upload.bedrooms' | translate }}</mat-label>
                <input matInput id="bedrooms" type="number" [(ngModel)]="listing.bedrooms" class="d-inline"
                    placeholder="# of bedrooms..." required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>{{ 'listing_upload.bathrooms' | translate }}</mat-label>
                <input matInput id="bathrooms" type="number" [(ngModel)]="listing.bathrooms" class="d-inline"
                    placeholder="# of bathrooms..." required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>{{ 'listing_upload.property_sizes' | translate }} (m<sup>2</sup>)</mat-label>
                <input matInput type="number" [(ngModel)]="listing.propertySize" class="d-inline" id="propertySize"
                    placeholder="Size..." required>
            </mat-form-field>
        </div>
        <div class="col-6">
            <div class="price-input-group">
                <mat-form-field color="accent">
                    <mat-label>{{ 'listing_upload.price' | translate }}</mat-label>
                    <input matInput type="text" [(ngModel)]="listing.price" id="price" placeholder="0" required>
                    <mat-select [(ngModel)]="listing.currency" required>
                        <mat-option value='USD'>US$</mat-option>
                        <mat-option value='VND'>đ</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field color="accent">
                <mat-label>{{ 'listing_upload.address' | translate }}</mat-label>
                <input matInput id="address" type="text" [(ngModel)]="listing.address" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-label>{{ 'listing_upload.description' | translate }}</mat-label>
            <div class="mat-form-field-wrapper">
                <app-editor [listing]="listing"></app-editor>
            </div>
        </div>
    </div>
    <div class="row image-container" *ngIf="imageSrcs?.length">
        <div class="d-inline listing-image-group" *ngFor="let imgSrc of imageSrcs">
            <img [src]="imgSrc" class="listing-image">
            <button class="remove-image-btn" (click)="removeImage(imgSrc)">
                x
            </button>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-12 d-flex justify-content-end">
            <input #imageInput multiple hidden="true" type="file" accept="image/*" onclick="this.value=null"
                (change)="handleImageInput($event)" />
            <button mat-fab color="default" [matBadge]="imageFiles.length" matBadgeColor="primary"
                (click)="imageInput.click()">
                <mat-icon>image</mat-icon>
            </button>
            <span class="ps-2 pe-2"></span>
            <button *ngIf="!isEditMode" mat-fab color="accent" (click)="publishListing()">
                <mat-icon>publish</mat-icon>
            </button>
            <button *ngIf="isEditMode" mat-fab color="accent" (click)="saveEdit()">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
</section>