<section *ngIf="mode === 'desktop'" class="pb-3">
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field color="accent">
                <mat-label>{{ 'search_bar.purpose' | translate }}</mat-label>
                <mat-select id="purpose" [(ngModel)]="searchCriteria.purpose">
                    <mat-option value="For Rent">{{ 'search_bar.for_rent' | translate }}</mat-option>
                    <mat-option value="For Sale">{{ 'search_bar.for_sale' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'search_bar.filters' | translate }}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field color="accent">
                    <mat-label>{{ 'search_bar.property_type' | translate }}</mat-label>
                    <mat-select id="propertyType" [(ngModel)]="searchCriteria.propertyType">
                        <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                        <mat-option value="Apartment">{{ 'search_bar.apartment' | translate }}</mat-option>
                        <mat-option value="Villa">{{ 'search_bar.villa' | translate }}</mat-option>
                        <mat-option value="Townhouse">{{ 'search_bar.townhouse' | translate }}</mat-option>
                        <mat-option value="Commercial">{{ 'search_bar.commercial' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent">
                    <mat-label>{{ 'search_bar.location' | translate }}</mat-label>
                    <mat-select id="locations" [(ngModel)]="searchCriteria.location">
                        <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                        <mat-option *ngFor="let loc of locations " value="{{loc}}">{{loc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent">
                    <mat-label>{{ 'search_bar.property_sizes' | translate }} (m<sup>2</sup>)</mat-label>
                    <mat-select id="propertySizes" [(ngModel)]="searchCriteria.propertySize">
                        <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                        <mat-option *ngFor="let type of propertySizes | keyvalue" value="{{type.key}}">{{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent">
                    <mat-label>{{ 'search_bar.bedrooms' | translate }}</mat-label>
                    <mat-select id="bedrooms" [(ngModel)]="searchCriteria.bedrooms">
                        <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                        <mat-option value='1'>1</mat-option>
                        <mat-option value='2'>2</mat-option>
                        <mat-option value='3'>3</mat-option>
                        <mat-option value='3+'>3+</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent">
                    <mat-label>{{ 'search_bar.bathrooms' | translate }}</mat-label>
                    <mat-select id="bathrooms" [(ngModel)]="searchCriteria.bathrooms">
                        <mat-option value=''>{{ 'generics.any' | translate }}</mat-option>
                        <mat-option value='1'>1</mat-option>
                        <mat-option value='2'>2</mat-option>
                        <mat-option value='3'>3</mat-option>
                        <mat-option value='3+'>3+</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent">
                    <mat-label>
                        {{ 'search_bar.min_price' | translate }}
                        (<span *ngIf="searchCriteria.purpose === 'For Rent'">{{ 'search_bar.us_dollar' | translate
                            }}</span>
                        <span *ngIf="searchCriteria.purpose === 'For Sale'">{{ 'search_bar.vietnam_dong' | translate
                            }}</span>)
                    </mat-label>
                    <input matInput type="number" [(ngModel)]="searchCriteria.minPrice" class="d-inline" id="minPrice">
                </mat-form-field>
                <mat-form-field color="accent" [floatLabel]="'always'">
                    <mat-label>{{ 'search_bar.max_price' | translate }}
                        (<span *ngIf="searchCriteria.purpose === 'For Rent'">{{ 'search_bar.us_dollar' | translate
                            }}</span>
                        <span *ngIf="searchCriteria.purpose === 'For Sale'">{{ 'search_bar.vietnam_dong' | translate
                            }}</span>)
                    </mat-label>
                    <input matInput type="number" [(ngModel)]="searchCriteria.maxPrice" class="d-inline" id="maxPrice">
                </mat-form-field>
            </mat-expansion-panel>
        </div>
        <div class="col-sm-4 d-flex align-items-center">
            <button mat-raised-button color="accent" (click)="getListings()">
                <span>{{ 'search_bar.get_listings' | translate }}</span>
            </button>
            <span class="ps-2" *ngIf="numberOfResults > 0">{{ 'search_bar.found_x_results' | translate: {numberOfResults:
                numberOfResults} }}</span>
        </div>
        <div class="col-sm-3 d-flex align-items-center">
        </div>
    </div>
</section>

<ng-container *ngIf="mode === 'mobile'">
    <mat-card class="ms-1 me-1" (click)="openSearchModal()">
        <mat-card-content>
            <div class="row ps-3">
                <div class="col-6">
                    <mat-icon color="accent">sell</mat-icon>
                    <span *ngIf="searchCriteria.purpose === 'For Rent'" class="ps-3">{{ 'search_bar.for_rent' |
                        translate }}</span>
                    <span *ngIf="searchCriteria.purpose === 'For Sale'" class="ps-3">{{ 'search_bar.for_sale' |
                        translate }}</span>
                </div>
                <div class="col-6">
                    <mat-icon color="accent">apartment</mat-icon>
                    <span class="ps-3">{{ searchCriteria.propertyType || 'generics.any' | translate}}</span>
                </div>
                <div class="col-6">
                    <mat-icon color="accent">location_on</mat-icon>
                    <span class="ps-3">{{ searchCriteria.location || 'generics.any' | translate}}</span>
                </div>
                <div class="col-6">
                    <mat-icon color="accent">bed</mat-icon>
                    <span class="ps-3">{{searchCriteria.bedrooms || 'generics.any' | translate}}</span>
                </div>
                <div class="col-6">
                    <mat-icon color="accent">bathtub</mat-icon>
                    <span class="ps-3">{{searchCriteria.bathrooms || 'generics.any' | translate}}</span>
                </div>
                <div class="col-6">
                    <mat-icon color="accent">aspect_ratio</mat-icon>
                    <span class="ps-3">{{ propertySizes[searchCriteria.propertySize] || 'generics.any' |
                        translate}}</span>
                    <span class="ps-1" *ngIf="propertySizes[searchCriteria.propertySize]">(m<sup>2</sup>)</span>
                </div>
                <div class="col-12">
                    <mat-icon color="accent">attach_money</mat-icon>
                    <span *ngIf="searchCriteria.maxPrice !== undefined; else noMax"
                        class="ps-3">{{searchCriteria.minPrice}} - {{searchCriteria.maxPrice}} </span>
                    <ng-template #noMax>
                        <span class="ps-3">{{searchCriteria.minPrice}} - {{'search_bar.no_max' | translate }}</span>
                    </ng-template>
                    (<span *ngIf="searchCriteria.purpose === 'For Rent'">{{ 'search_bar.us_dollar' | translate }}</span>
                    <span *ngIf="searchCriteria.purpose === 'For Sale'">{{ 'search_bar.vietnam_dong' | translate
                        }}</span>)
                </div>
            </div>
            <div *ngIf="numberOfResults > 0" class="row ps-3">
                <span style="font:lighter;">{{ 'search_bar.found_x_results' | translate: {numberOfResults:
                    numberOfResults} }}</span>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>