<section #desktopUploadView class="container pt-2 d-none d-lg-block">
    <div class="row">
        <div class="col-12">
            <h1 class="h3">
                {{modalTitle}}
            </h1>
        </div>
        <div class="col-3">
            <mat-form-field class="form-group" color="accent">
                <mat-label>Property Type</mat-label>
                <input id="propertyType" matInput type="text" aria-label="Property Type"
                    [matAutocomplete]="propertyTypesAuto" [(ngModel)]="listing.propertyType">
                <mat-autocomplete #propertyTypesAuto="matAutocomplete">
                    <mat-option *ngFor="let type of propertyTypes" value="{{type}}">{{type}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>Location</mat-label>
                <input id="locations" matInput type="text" aria-label="Location" [matAutocomplete]="locationsAuto"
                    [(ngModel)]="listing.location">
                <mat-autocomplete #locationsAuto="matAutocomplete">
                    <mat-option *ngFor="let location of locations" value="{{location}}">{{location}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>Property Sizes (m<sup>2</sup>)</mat-label>
                <input matInput type="number" [(ngModel)]="listing.propertySize" class="d-inline" id="propertySize"
                    placeholder="Size..." required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>Bedrooms</mat-label>
                <input matInput id="bedrooms" type="number" [(ngModel)]="listing.bedrooms" class="d-inline"
                    placeholder="# of bedrooms..." required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>Bathrooms</mat-label>
                <input matInput id="bathrooms" type="number" [(ngModel)]="listing.bathrooms" class="d-inline"
                    placeholder="# of bathrooms..." required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>Price</mat-label>
                <input matInput type="number" [(ngModel)]="listing.price" class="d-inline" id="price"
                    placeholder="Price..." required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field color="accent">
                <mat-label>For Rent or For Sale</mat-label>
                <mat-select (selectionChange)="onPurposeSelect($event)" [(ngModel)]="listing.purpose" required>
                    <mat-option value='For Rent'>For Rent</mat-option>
                    <mat-option value='For Sale'>For Sale</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field color="accent">
                <mat-label>Address</mat-label>
                <input matInput id="address" type="text" aria-label="Address" [(ngModel)]="listing.address">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-label>Description</mat-label>
            <div class="mat-form-field-wrapper">
                <app-editor [listing]="listing"></app-editor>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="imageSrcs?.length" style="display:block; overflow: auto;">
        <div class="d-inline" *ngFor="let imgSrc of imageSrcs" style="height: 200px; width: 200px">
            <img [src]="imgSrc" height="200px" width="200px" style="object-fit: contain">
            <button class="remove-image-btn" (click)="removeImage(imgSrc)" aria-label="Remove image">
                x
            </button>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-12 d-flex justify-content-end">
            <input #imageInput multiple hidden="true" type="file" accept="image/*" onclick="this.value=null"
                (change)="handleImageInput($event)" />
            <button mat-fab color="default" [matBadge]="imageFiles.length" matBadgeColor="primary"
                (click)="imageInput.click()">
                <mat-icon>image</mat-icon>
            </button>
            <span class="ps-2 pe-2"></span>
            <button *ngIf="!isEditMode" mat-fab color="accent" (click)="publishListing()">
                <mat-icon>publish</mat-icon>
            </button>
            <button *ngIf="isEditMode" mat-fab color="accent" (click)="saveEdit()">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
</section>

<section #mobileUploadView class="container pt-2 py-2 d-lg-none">
    <div class="row">
        <div class="col-12">
            <h1 class="h3">
                {{modalTitle}}
            </h1>
        </div>
        <div class="col-6">
            <mat-form-field class="form-group" color="accent">
                <mat-label>Property Type</mat-label>
                <input id="propertyType" matInput type="text" aria-label="Property Type"
                    [matAutocomplete]="propertyTypesAuto" [(ngModel)]="listing.propertyType">
                <mat-autocomplete #propertyTypesAuto="matAutocomplete">
                    <mat-option *ngFor="let type of propertyTypes" value="{{type}}">{{type}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Location</mat-label>
                <input id="locations" matInput type="text" aria-label="Location" [matAutocomplete]="locationsAuto"
                    [(ngModel)]="listing.location">
                <mat-autocomplete #locationsAuto="matAutocomplete">
                    <mat-option *ngFor="let location of locations" value="{{location}}">{{location}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Property Sizes (m<sup>2</sup>)</mat-label>
                <input matInput type="number" [(ngModel)]="listing.propertySize" class="d-inline" id="propertySize"
                    placeholder="Size..." required>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Bedrooms</mat-label>
                <input matInput id="bedrooms" type="number" [(ngModel)]="listing.bedrooms" class="d-inline"
                    placeholder="# of bedrooms..." required>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Bathrooms</mat-label>
                <input matInput id="bathrooms" type="number" [(ngModel)]="listing.bathrooms" class="d-inline"
                    placeholder="# of bathrooms..." required>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Price</mat-label>
                <input matInput type="number" [(ngModel)]="listing.price" class="d-inline" id="price"
                    placeholder="Price..." required>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>For Rent or For Sale</mat-label>
                <mat-select [(ngModel)]="listing.purpose" (selectionChange)="onPurposeSelect($event)" required>
                    <mat-option value='For Rent'>For Rent</mat-option>
                    <mat-option value='For Sale'>For Sale</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field color="accent">
                <mat-label>Address</mat-label>
                <input matInput id="address" type="text" aria-label="Address" [(ngModel)]="listing.address">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field color="accent">
                <mat-label>Description</mat-label>
                <div class="mat-form-field-wrapper">
                    <app-editor [listing]="listing"></app-editor>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="imageSrcs?.length" style="display:block; overflow: auto;">
        <div class="d-inline" *ngFor="let imgSrc of imageSrcs">
            <img [src]="imgSrc" height="200px" width="200px" style="object-fit: contain">
            <button class="remove-image-btn" (click)="removeImage(imgSrc)" aria-label="Remove image">
                x
            </button>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-12 d-flex justify-content-end">
            <input #imageInput multiple hidden="true" type="file" accept="image/*" onclick="this.value=null"
                (change)="handleImageInput($event)" />
            <button mat-fab color="default" [matBadge]="imageFiles.length" matBadgeColor="primary"
                (click)="imageInput.click()">
                <mat-icon>image</mat-icon>
            </button>
            <span class="ps-2 pe-2"></span>
            <button *ngIf="!isEditMode" mat-fab color="accent" (click)="publishListing()">
                <mat-icon>publish</mat-icon>
            </button>
            <button *ngIf="isEditMode" mat-fab color="accent" (click)="saveEdit()">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
</section>