<section #desktopUploadView class="container pt-2 d-none d-lg-block">
    <h1>Listing Upload</h1>
    <mat-divider class="pb-2"></mat-divider>
    <div class="row">
        All the fields go here
    </div>
    <button mat-flat-button (click)="submit()">Submit</button>
</section>

<section #mobileUploadView class="container pt-2 py-2 d-lg-none">
    <div class="row">
        <div class="col-6">
            <mat-form-field class="form-group" color="accent">
                <mat-label>Property Type</mat-label>
                <mat-select id="propertyType" [(ngModel)]="listing.propertyType">
                    <mat-option value=''>Any</mat-option>
                    <mat-option *ngFor="let type of propertyTypes | keyvalue" value="{{type.key}}">{{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Location</mat-label>
                <mat-select id="locations" [(ngModel)]="listing.location">
                    <mat-option value=''>Any</mat-option>
                    <mat-option *ngFor="let type of locations | keyvalue" value="{{type.key}}">{{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Property Sizes (m<sup>2</sup>)</mat-label>
                <mat-select id="propertySizes" [(ngModel)]="listing.propertySize">
                    <mat-option value=''>Any</mat-option>
                    <mat-option *ngFor="let type of propertySizes | keyvalue" value="{{type.key}}">{{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Bedrooms</mat-label>
                <mat-select id="bedrooms" [(ngModel)]="listing.bedrooms">
                    <mat-option value=''>Any</mat-option>
                    <mat-option value='1'>1</mat-option>
                    <mat-option value='2'>2</mat-option>
                    <mat-option value='3+'>3+</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Bathrooms</mat-label>
                <mat-select id="bathrooms" [(ngModel)]="listing.bathrooms">
                    <mat-option value=''>Any</mat-option>
                    <mat-option value='1'>1</mat-option>
                    <mat-option value='2'>2</mat-option>
                    <mat-option value='3+'>3+</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field color="accent">
                <mat-label>Price</mat-label>
                <input matInput type="number" [(ngModel)]="listing.price" class="d-inline" id="price"
                    placeholder="Price...">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field color="accent">
                <mat-label>Description</mat-label>
                <textarea matInput rows="25"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <input #imageInput hidden="true" type="file" accept="image/*"onclick="this.value=null" (change)="handleImageInput($event)"/>
                <button mat-flat-button color="accent" (click)="imageInput.click()">Images Upload</button>
        </div>
    </div>
</section>