<ng-container *ngIf="mode === 'desktop'">
    <mat-card class="mb-2">
        <mat-card-title>
            <div class="pb-2">
                <span class="font-large">
                    {{listing.location}} | {{listing.price | currency:
                    listing.currency : 'symbol' : '1.0-0'}}
                </span>
                <div class="d-inline" style="float: right;">
                    <button mat-icon-button color="default" *ngIf="!listing.featured"
                        (click)="featureListing($event, listing.id!)">
                        <mat-icon>star_outlined</mat-icon>
                    </button>
                    <button mat-icon-button color="default" *ngIf="listing.featured"
                        (click)="unfeatureListing($event, listing.id!)">
                        <mat-icon color="accent">star</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content class="mb-1">
            <hr>
            <div class="row">
                <div class="col-6">
                    <div *ngIf="!coverImageUrl" class="ph-picture"></div>
                    <img *ngIf="coverImageUrl" class="result-preview-img-mobile" [src]="coverImageUrl">
                </div>
                <div class="col-6">
                    <div *ngIf="listing.category && listing.location">
                        <span *ngIf="listing.category === 'Apartment'">{{ 'listing_edit.apartment' |
                            translate
                            }}</span>
                        <span *ngIf="listing.category === 'Villa'">{{ 'listing_edit.villa' |
                            translate
                            }}</span>
                        <span *ngIf="listing.category === 'Townhouse'">{{ 'listing_edit.townhouse' |
                            translate
                            }}</span>
                        <span *ngIf="listing.category === 'Commercial'">{{ 'listing_edit.commercial'
                            |
                            translate
                            }}</span>
                    </div>
                    <div *ngIf="listing.address">
                        {{listing.address}}
                    </div>
                    <div *ngIf="listing.bedrooms !== undefined && listing.bathrooms !== undefined">
                        <mat-icon color="accent">bed</mat-icon><span class="ps-2 pe-4">{{listing.bedrooms}}</span>
                        <mat-icon color="accent">bathtub</mat-icon>
                        <span class="ps-2">{{listing.bathrooms}}</span>
                    </div>
                </div>
            </div>
            <hr>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-between ps-1 pe-1 pb-1">
            <mat-chip-list class="pt-1 ps-2">
                <mat-chip>
                    <span *ngIf="listing.purpose === 'For Rent'">{{ 'listing_edit.for_rent'
                        |
                        translate }}</span>
                    <span *ngIf="listing.purpose === 'For Sale'">{{ 'listing_edit.for_sale'
                        |
                        translate }}</span>
                </mat-chip>
                <mat-chip>
                    <span *ngIf="listing.archived">{{ 'listing_edit.archived' |
                        translate }}</span>
                    <span *ngIf="!listing.archived">{{ 'listing_edit.active' |
                        translate }}</span>
                </mat-chip>
            </mat-chip-list>
            <div>
                <button mat-icon-button color="default" *ngIf="!listing.archived" (click)="onClone($event, listing)">
                    <mat-icon color="accent">add_box</mat-icon>
                </button>
                <button mat-icon-button color="default" *ngIf="!listing.archived"
                    (click)="archiveListing($event, listing.id!)">
                    <mat-icon color="accent">archive</mat-icon>
                </button>
                <button mat-icon-button color="default" *ngIf="listing.archived"
                    (click)="unarchiveListing($event, listing.id!)">
                    <mat-icon color="accent">unarchive</mat-icon>
                </button>
                <button mat-icon-button color="default" (click)="deleteListing($event, listing)">
                    <mat-icon color="accent">delete</mat-icon>
                </button>
            </div>
        </mat-card-footer>
    </mat-card>
</ng-container>

<ng-container *ngIf="mode === 'mobile'">
    <mat-card class="mb-2">
        <mat-card-title>
            <span class="font-large">
                {{listing.location}} | {{listing.price | currency:
                listing.currency : 'symbol' : '1.0-0'}}
            </span>
            <div class="d-inline" style="float: right;">
                <button mat-icon-button color="default" *ngIf="!listing.featured"
                    (click)="featureListing($event, listing.id!)">
                    <mat-icon>star_outlined</mat-icon>
                </button>
                <button mat-icon-button color="default" *ngIf="listing.featured"
                    (click)="unfeatureListing($event, listing.id!)">
                    <mat-icon color="accent">star</mat-icon>
                </button>
            </div>
        </mat-card-title>
        <mat-card-content class="mb-1">
            <hr>
            <div class="row">
                <div class="col-6">
                    <div *ngIf="!coverImageUrl" class="ph-picture"></div>
                    <img *ngIf="coverImageUrl" class="result-preview-img-mobile" [src]="coverImageUrl">
                </div>
                <div class="col-6">
                    <div *ngIf="listing.category && listing.location">
                        <span *ngIf="listing.category === 'Apartment'">{{ 'listing_edit.apartment' |
                            translate
                            }}</span>
                        <span *ngIf="listing.category === 'Villa'">{{ 'listing_edit.villa' |
                            translate
                            }}</span>
                        <span *ngIf="listing.category === 'Townhouse'">{{ 'listing_edit.townhouse' |
                            translate
                            }}</span>
                        <span *ngIf="listing.category === 'Commercial'">{{ 'listing_edit.commercial'
                            |
                            translate
                            }}</span>
                    </div>
                    <div *ngIf="listing.address">
                        {{listing.address}}
                    </div>
                    <div *ngIf="listing.bedrooms !== undefined && listing.bathrooms !== undefined">
                        <mat-icon color="accent">bed</mat-icon><span class="ps-2 pe-4">{{listing.bedrooms}}</span>
                        <mat-icon color="accent">bathtub</mat-icon>
                        <span class="ps-2">{{listing.bathrooms}}</span>
                    </div>
                    <div class="d-flex justify-content-end" style="position: absolute; top: 0; right: 0;">

                    </div>
                </div>
            </div>
            <hr>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-between ps-1 pe-1 pb-1">
            <mat-chip-list class="pt-1 ps-2">
                <mat-chip>
                    <span *ngIf="listing.purpose === 'For Rent'">{{ 'listing_edit.for_rent'
                        |
                        translate }}</span>
                    <span *ngIf="listing.purpose === 'For Sale'">{{ 'listing_edit.for_sale'
                        |
                        translate }}</span>
                </mat-chip>
                <mat-chip>
                    <span *ngIf="listing.archived">{{ 'listing_edit.archived' |
                        translate }}</span>
                    <span *ngIf="!listing.archived">{{ 'listing_edit.active' |
                        translate }}</span>
                </mat-chip>
            </mat-chip-list>
            <div>
                <button mat-icon-button color="default" *ngIf="!listing.archived" (click)="onClone($event, listing)">
                    <mat-icon color="accent">add_box</mat-icon>
                </button>
                <span class="ps-2"></span>
                <button mat-icon-button color="default" *ngIf="!listing.archived"
                    (click)="archiveListing($event, listing.id!)">
                    <mat-icon color="accent">archive</mat-icon>
                </button>
                <button mat-icon-button color="default" *ngIf="listing.archived"
                    (click)="unarchiveListing($event, listing.id!)">
                    <mat-icon color="accent">unarchive</mat-icon>
                </button>
                <span class="ps-2"></span>
                <button mat-icon-button color="default" (click)="deleteListing($event, listing)">
                    <mat-icon color="accent">delete</mat-icon>
                </button>
            </div>
        </mat-card-footer>
    </mat-card>
</ng-container>