<section>
    <h1 class="page-title ps-3">Property Management Overview</h1>
    <mat-divider></mat-divider>

    <mat-drawer-container class="container-flex" style="height: 90vh;">
        <mat-drawer mode="side" opened autoFocus="false" style="width: 15vw">
            <div class="row pt-5 pt-sm-4">
                <button *ngIf="(roles.roles$ | async )?.includes('customer-service')" class="col-12 pb-1 d-flex"
                    mat-button (click)="addProperty()">
                    <span class="ps-4"></span>
                    <mat-icon color="accent">add_business</mat-icon>
                    <span class="ps-3">Register</span>
                    <mat-divider [inset]="true"></mat-divider>
                </button>
                <button class="col-12 pb-1 d-flex" mat-button (click)="viewProperties()">
                    <span class="ps-4"></span>
                    <mat-icon color="accent">grid_view</mat-icon>
                    <span class="ps-3">Properties</span>
                </button>
                <button class="col-12 pb-1 d-flex" mat-button (click)="viewActivities()">
                    <span class="ps-4"></span>
                    <mat-icon color="accent">view_list</mat-icon>
                    <span class="ps-3">Activities</span>
                </button>
            </div>
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet name="property-management-outlet"></router-outlet>
        </mat-drawer-content>

    </mat-drawer-container>
</section>

<app-footer></app-footer>