/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";
@import "app/styles/colors.scss";
@import "app/styles/listing-search";
@import "app/styles/search-bar";
@import "app/styles/heights-widths";
@import "app/app.component";
@import "app/styles/layout";
@import "app/styles/load-spinner";


.background-mobile {
    background-image: url("assets/images/background_mobile.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 90vh;
}

.backdrop {
    backdrop-filter: blur(5px);
    height: 30vh;
}

.black {
    color: black;
}

.page-title {
    padding-top: 1em;
    font-size: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}