/* You can add global styles to this file, and also import other style files */
@import 'app/app.component'
@import 'app/styles/listing-search'
@import 'app/styles/search-bar'

.black
    color: black
.w-46 
    width: 46% !important
.h-150
    height: 150% !important