<section #editDesktopView class="container-flex pt-2 ms-4 me-4 d-none d-lg-block">
    <div class="ps-3 pe-3 listing-edit-wrapper">
        <div class="row">
            <div class="col-6 listing-edit-list-view">
                <button mat-button class="add-listing-btn" color="accent" (click)="openUploadModalDesktop()">
                    <mat-icon class="pe-1">add</mat-icon>
                    <span class="ps-3">{{ 'listing_edit.new_Listing' | translate }}</span>
                </button>

                <mat-card *ngIf="!listings?.length" class="mb-2 d-flex justify-content-center">
                    <mat-spinner class="d-block"></mat-spinner>
                </mat-card>

                <div class="row">
                    <div *ngFor="let listing of listings" class="col-6 listing-edit-card-wrapper"
                        (click)="showSelected(listing)">
                        <listing-edit-card [listing]="listing" [mode]="'desktop'"
                            (listingDeleted)="listingToShow = undefined"
                            (cloneListing)="cloneListing($event)"></listing-edit-card>
                    </div>
                </div>
            </div>
            <div class="col-6 listing-edit-detail-view" *ngIf="listings?.length">
                <div *ngIf="listingToShow === undefined" style="padding-top: 10vh">
                    <span class="listing-edit-select-a-listing-text">{{ 'listing_edit.select_a_listing' | translate
                        }}</span>
                </div>
                <div *ngIf="listingToShow !== undefined">
                    <mat-card>
                        <mat-card-content>
                            <listing-upload [listing]="listingToShow" [isEditMode]="true"
                                [dbReferenceId]="listingToShow.id!">
                            </listing-upload>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>

<section #editMobileView class="container-flex pt-2 py-2 d-lg-none">
    <div class="ps-3 pe-3 listing-edit-wrapper">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button mat-button class="add-listing-btn" color="accent" (click)="openUploadModalMobile()">
                    <mat-icon class="pe-1">add</mat-icon>
                    <span class="ps-3">{{ 'listing_edit.new_Listing' | translate }}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 container-flex ps-2 pe-2">
                <mat-card *ngIf="!listings?.length" class="mb-2 d-flex justify-content-center">
                    <mat-spinner class="d-block"></mat-spinner>
                </mat-card>
                <div *ngFor="let listing of listings" class="listing-edit-card-wrapper"
                    (click)="showSelectedAsDialog(listing)">
                    <listing-edit-card [listing]="listing" [mode]="'mobile'"
                        (listingDeleted)="listingToShow = undefined"
                        (cloneListing)="cloneListingMobile($event)"></listing-edit-card>
                </div>
            </div>
        </div>
    </div>
</section>